In [33]:
import psycopg2
import pandas as pd

conn = psycopg2.connect(database="f1_halo",
                       host="localhost",
                       user="postgres",
                       password = "postgres",
                       port="5432")

In [38]:
tables = ["driver","fcyphases","laps","qualifyings","races","retirements","starterfields"]
for i in tables:
    cursor = conn.cursor()
    query = f'SELECT * from {i};'
    print(query)
    cursor.execute(query)
    rows = cursor.fetchall()
    df_name = i + "_df"
    globals()[df_name]= pd.DataFrame(rows)
    print(df_name)

SELECT * from driver;
driver_df
SELECT * from fcyphases;
fcyphases_df
SELECT * from laps;
laps_df
SELECT * from qualifyings;
qualifyings_df
SELECT * from races;
races_df
SELECT * from retirements;
retirements_df
SELECT * from starterfields;
starterfields_df

In [39]:
races_df.head()

,0,1,2,3,4,5,6,7,8
0,1,2014-03-16,2014,Melbourne,"A2,A3,I,W",null,57,58,5303
1,2,2014-03-30,2014,KualaLumpur,"A1,A2,I,W",null,56,56,5543
2,3,2014-04-06,2014,Sakhir,"A2,A3,I,W","Crash GUT in lap 41, SC somewhen in the end of...",57,57,5412
3,4,2014-04-20,2014,Shanghai,"A2,A3,I,W",null,54,56,5451
4,5,2014-05-11,2014,Catalunya,"A1,A2,I,W",null,66,66,4655

In [45]:
starterfields_df.rename(columns = {0:'race_id',1:'driver_id',2:'team',3:'teamcolor',4:'enginemanufacturer',5:'gridposition',6:'status', 7:'resultposition',8:'completedlaps',9:'speedtrap'}, inplace = True)
starterfields_df.head()

,race_id,driver_id,team,teamcolor,enginemanufacturer,gridposition,status,resultposition,completedlaps,speedtrap
0,1,1,Mercedes,#00D2BE,Mercedes,1,DNF,19,2,252.8
1,1,2,RedBull,#1E41FF,Renault,2,DQ,22,57,292.7
2,1,3,Mercedes,#00D2BE,Mercedes,3,F,1,57,299.1
3,1,4,McLaren,#FF8700,Mercedes,4,F,2,57,316.9
4,1,5,Ferrari,#DC0000,Ferrari,5,F,4,57,304.5

In [43]:
drivers_df.rename(columns = {0:'driver_id',1:'carno',2:'initials',3:'name'}, inplace = True)
drivers_df.head()

   driver_id  carno initials              name
0          1     44      HAM    Lewis Hamilton
1          2      3      RIC  Daniel Ricciardo
2          3      6      ROS      Nico Rosberg
3          4     20      MAG   Kevin Magnussen
4          5     14      ALO   Fernando Alonso

In [47]:
newdf = pd.merge(drivers_df, starterfields_df)
newdf

,driver_id,carno,initials,name,race_id,team,teamcolor,enginemanufacturer,gridposition,status,resultposition,completedlaps,speedtrap
0,1,44,HAM,Lewis Hamilton,1,Mercedes,#00D2BE,Mercedes,1,DNF,19,2,252.8
1,1,44,HAM,Lewis Hamilton,2,Mercedes,#00D2BE,Mercedes,1,F,1,56,305.9
2,1,44,HAM,Lewis Hamilton,3,Mercedes,#00D2BE,Mercedes,2,F,1,57,313.4
3,1,44,HAM,Lewis Hamilton,4,Mercedes,#00D2BE,Mercedes,1,F,1,54,332.3
4,1,44,HAM,Lewis Hamilton,5,Mercedes,#00D2BE,Mercedes,1,F,1,66,331.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2474,45,88,KUB,Robert Kubica,117,Williams,#192c4e,Mercedes,20,F,19,50,299.3
2475,45,88,KUB,Robert Kubica,118,Williams,#192c4e,Mercedes,20,F,18,69,352
2476,45,88,KUB,Robert Kubica,119,Williams,#192c4e,Mercedes,19,DNF,19,31,303.7
2477,45,88,KUB,Robert Kubica,120,Williams,#192c4e,Mercedes,19,F,16,70,313.5
2478,45,88,KUB,Robert Kubica,121,Williams,#192c4e,Mercedes,19,F,19,53,317.8