In [90]:
# Import Dependencies
import pandas as pd
import json
import numpy as np
from pathlib import Path

In [91]:
# Store filepaths into variable
drivers_csv = Path("data/drivers.csv")
fcyphases_csv = Path("data/fcyphases.csv")
laps_csv = Path("data/laps.csv")
qualifyings_csv = Path("data/qualifyings.csv")
races_csv = Path("data/races.csv")
retirements_csv = Path("data/retirements.csv")
starterfields_csv = Path("data/starterfields.csv")
weather = Path("data/merged_weather.csv")
weather_long = Path("data/f1_weather_long.csv")

In [92]:
# Read in files and make dfs
drivers_df = pd.read_csv(drivers_csv)
fcyphases_df = pd.read_csv(fcyphases_csv)
laps_df = pd.read_csv(laps_csv)
qualifyings_df = pd.read_csv(qualifyings_csv)
races_df = pd.read_csv(races_csv)
retirements_df = pd.read_csv(retirements_csv)
starterfields_df = pd.read_csv(starterfields_csv)
weather_df = pd.read_csv(weather)
weather_long_df = pd.read_csv(weather_long)

In [93]:
drivers_df.head()

   id  carno initials              name
0   1     44      HAM    Lewis Hamilton
1   2      3      RIC  Daniel Ricciardo
2   3      6      ROS      Nico Rosberg
3   4     20      MAG   Kevin Magnussen
4   5     14      ALO   Fernando Alonso

In [94]:
races_df.head()

,id,date,season,location,availablecompounds,comment,nolaps,nolapsplanned,tracklength
0,1,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
1,2,2014-03-30,2014,KualaLumpur,"A1,A2,I,W",NaN,56,56,5543
2,3,2014-04-06,2014,Sakhir,"A2,A3,I,W","Crash GUT in lap 41, SC somewhen in the end of...",57,57,5412
3,4,2014-04-20,2014,Shanghai,"A2,A3,I,W",NaN,54,56,5451
4,5,2014-05-11,2014,Catalunya,"A1,A2,I,W",NaN,66,66,4655

In [95]:
retirements_df.head()

   season  driver_id  accidents  failures
0    2014         43        NaN       NaN
1    2015         43        NaN       NaN
2    2016         43        NaN       NaN
3    2017         43        NaN       NaN
4    2018         43        NaN       NaN

In [96]:
starterfields_df.head()

,race_id,driver_id,team,teamcolor,enginemanufacturer,gridposition,status,resultposition,completedlaps,speedtrap
0,1,1,Mercedes,#00D2BE,Mercedes,1,DNF,19,2,252.8
1,1,2,RedBull,#1E41FF,Renault,2,DQ,22,57,292.7
2,1,3,Mercedes,#00D2BE,Mercedes,3,F,1,57,299.1
3,1,4,McLaren,#FF8700,Mercedes,4,F,2,57,316.9
4,1,5,Ferrari,#DC0000,Ferrari,5,F,4,57,304.5

In [97]:
# Rename the 'id' column in drivers_df to 'driver_id'
drivers_df.rename(columns={'id': 'driver_id'}, inplace=True)
races_df.rename(columns={'id': 'race_id'}, inplace=True)

In [98]:
drivers_df.head()

   driver_id  carno initials              name
0          1     44      HAM    Lewis Hamilton
1          2      3      RIC  Daniel Ricciardo
2          3      6      ROS      Nico Rosberg
3          4     20      MAG   Kevin Magnussen
4          5     14      ALO   Fernando Alonso

In [99]:
races_df.head()

,race_id,date,season,location,availablecompounds,comment,nolaps,nolapsplanned,tracklength
0,1,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
1,2,2014-03-30,2014,KualaLumpur,"A1,A2,I,W",NaN,56,56,5543
2,3,2014-04-06,2014,Sakhir,"A2,A3,I,W","Crash GUT in lap 41, SC somewhen in the end of...",57,57,5412
3,4,2014-04-20,2014,Shanghai,"A2,A3,I,W",NaN,54,56,5451
4,5,2014-05-11,2014,Catalunya,"A1,A2,I,W",NaN,66,66,4655

In [100]:
drivers_df.head()

   driver_id  carno initials              name
0          1     44      HAM    Lewis Hamilton
1          2      3      RIC  Daniel Ricciardo
2          3      6      ROS      Nico Rosberg
3          4     20      MAG   Kevin Magnussen
4          5     14      ALO   Fernando Alonso

In [101]:
mergedDR_df= pd.merge(drivers_df,retirements_df, on="driver_id")
mergedDR_df

     driver_id  carno initials            name  season  accidents  failures
0            1     44      HAM  Lewis Hamilton    2014        0.0       3.0
1            1     44      HAM  Lewis Hamilton    2015        0.0       1.0
2            1     44      HAM  Lewis Hamilton    2016        1.0       1.0
3            1     44      HAM  Lewis Hamilton    2017        0.0       0.0
4            1     44      HAM  Lewis Hamilton    2018        0.0       1.0
..         ...    ...      ...             ...     ...        ...       ...
265         45     88      KUB   Robert Kubica    2015        NaN       NaN
266         45     88      KUB   Robert Kubica    2016        NaN       NaN
267         45     88      KUB   Robert Kubica    2017        NaN       NaN
268         45     88      KUB   Robert Kubica    2018        NaN       NaN
269         45     88      KUB   Robert Kubica    2019        0.0       2.0

[270 rows x 7 columns]

In [102]:
mergedDRS_df =pd.merge(mergedDR_df,starterfields_df, on="driver_id")
mergedDRS_df

,driver_id,carno,initials,name,season,accidents,failures,race_id,team,teamcolor,enginemanufacturer,gridposition,status,resultposition,completedlaps,speedtrap
0,1,44,HAM,Lewis Hamilton,2014,0.0,3.0,1,Mercedes,#00D2BE,Mercedes,1,DNF,19,2,252.8
1,1,44,HAM,Lewis Hamilton,2014,0.0,3.0,2,Mercedes,#00D2BE,Mercedes,1,F,1,56,305.9
2,1,44,HAM,Lewis Hamilton,2014,0.0,3.0,3,Mercedes,#00D2BE,Mercedes,2,F,1,57,313.4
3,1,44,HAM,Lewis Hamilton,2014,0.0,3.0,4,Mercedes,#00D2BE,Mercedes,1,F,1,54,332.3
4,1,44,HAM,Lewis Hamilton,2014,0.0,3.0,5,Mercedes,#00D2BE,Mercedes,1,F,1,66,331.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14869,45,88,KUB,Robert Kubica,2019,0.0,2.0,117,Williams,#192c4e,Mercedes,20,F,19,50,299.3
14870,45,88,KUB,Robert Kubica,2019,0.0,2.0,118,Williams,#192c4e,Mercedes,20,F,18,69,352.0
14871,45,88,KUB,Robert Kubica,2019,0.0,2.0,119,Williams,#192c4e,Mercedes,19,DNF,19,31,303.7
14872,45,88,KUB,Robert Kubica,2019,0.0,2.0,120,Williams,#192c4e,Mercedes,19,F,16,70,313.5
14873,45,88,KUB,Robert Kubica,2019,0.0,2.0,121,Williams,#192c4e,Mercedes,19,F,19,53,317.8

In [103]:
mergedDdESRa_df = pd.merge(mergedDRS_df,races_df, on="race_id")
mergedDdESRa_df

,driver_id,carno,initials,name,season_x,accidents,failures,race_id,team,teamcolor,...,completedlaps,speedtrap,date,season_y,location,availablecompounds,comment,nolaps,nolapsplanned,tracklength
0,1,44,HAM,Lewis Hamilton,2014,0.0,3.0,1,Mercedes,#00D2BE,...,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
1,1,44,HAM,Lewis Hamilton,2015,0.0,1.0,1,Mercedes,#00D2BE,...,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
2,1,44,HAM,Lewis Hamilton,2016,1.0,1.0,1,Mercedes,#00D2BE,...,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
3,1,44,HAM,Lewis Hamilton,2017,0.0,0.0,1,Mercedes,#00D2BE,...,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
4,1,44,HAM,Lewis Hamilton,2018,0.0,1.0,1,Mercedes,#00D2BE,...,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14869,45,88,KUB,Robert Kubica,2015,NaN,NaN,121,Williams,#192c4e,...,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554
14870,45,88,KUB,Robert Kubica,2016,NaN,NaN,121,Williams,#192c4e,...,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554
14871,45,88,KUB,Robert Kubica,2017,NaN,NaN,121,Williams,#192c4e,...,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554
14872,45,88,KUB,Robert Kubica,2018,NaN,NaN,121,Williams,#192c4e,...,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554
14873,45,88,KUB,Robert Kubica,2019,0.0,2.0,121,Williams,#192c4e,...,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554

In [104]:
mergedSRa_df = pd.merge(mergedDRS_df,races_df, on="race_id")
mergedDdESRa_df

,driver_id,carno,initials,name,season_x,accidents,failures,race_id,team,teamcolor,...,completedlaps,speedtrap,date,season_y,location,availablecompounds,comment,nolaps,nolapsplanned,tracklength
0,1,44,HAM,Lewis Hamilton,2014,0.0,3.0,1,Mercedes,#00D2BE,...,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
1,1,44,HAM,Lewis Hamilton,2015,0.0,1.0,1,Mercedes,#00D2BE,...,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
2,1,44,HAM,Lewis Hamilton,2016,1.0,1.0,1,Mercedes,#00D2BE,...,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
3,1,44,HAM,Lewis Hamilton,2017,0.0,0.0,1,Mercedes,#00D2BE,...,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
4,1,44,HAM,Lewis Hamilton,2018,0.0,1.0,1,Mercedes,#00D2BE,...,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14869,45,88,KUB,Robert Kubica,2015,NaN,NaN,121,Williams,#192c4e,...,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554
14870,45,88,KUB,Robert Kubica,2016,NaN,NaN,121,Williams,#192c4e,...,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554
14871,45,88,KUB,Robert Kubica,2017,NaN,NaN,121,Williams,#192c4e,...,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554
14872,45,88,KUB,Robert Kubica,2018,NaN,NaN,121,Williams,#192c4e,...,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554
14873,45,88,KUB,Robert Kubica,2019,0.0,2.0,121,Williams,#192c4e,...,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554

In [107]:
mergedSRa_df = pd.merge(starterfields_df, races_df, on="race_id")
mergedSRa_df

,race_id,driver_id,team,teamcolor,enginemanufacturer,gridposition,status,resultposition,completedlaps,speedtrap,date,season,location,availablecompounds,comment,nolaps,nolapsplanned,tracklength
0,1,1,Mercedes,#00D2BE,Mercedes,1,DNF,19,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
1,1,2,RedBull,#1E41FF,Renault,2,DQ,22,57,292.7,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
2,1,3,Mercedes,#00D2BE,Mercedes,3,F,1,57,299.1,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
3,1,4,McLaren,#FF8700,Mercedes,4,F,2,57,316.9,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
4,1,5,Ferrari,#DC0000,Ferrari,5,F,4,57,304.5,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2474,121,35,AlfaRomeo,#9B0000,Ferrari,16,F,16,54,334.9,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554
2475,121,11,AlfaRomeo,#9B0000,Ferrari,17,F,13,54,329.6,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554
2476,121,44,Williams,#192c4e,Mercedes,18,F,17,54,329.3,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554
2477,121,45,Williams,#192c4e,Mercedes,19,F,19,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554
2478,121,15,Mercedes,#00D2BE,Mercedes,20,F,4,55,321.5,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554

In [106]:
# change "NaN" values in "comments" column to "Null" for read in with json
DNF_data_df = mergedDdESRa_df.fillna("Null")
DNF_data_df

,driver_id,carno,initials,name,season_x,accidents,failures,race_id,team,teamcolor,...,completedlaps,speedtrap,date,season_y,location,availablecompounds,comment,nolaps,nolapsplanned,tracklength
0,1,44,HAM,Lewis Hamilton,2014,0.0,3.0,1,Mercedes,#00D2BE,...,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",Null,57,58,5303
1,1,44,HAM,Lewis Hamilton,2015,0.0,1.0,1,Mercedes,#00D2BE,...,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",Null,57,58,5303
2,1,44,HAM,Lewis Hamilton,2016,1.0,1.0,1,Mercedes,#00D2BE,...,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",Null,57,58,5303
3,1,44,HAM,Lewis Hamilton,2017,0.0,0.0,1,Mercedes,#00D2BE,...,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",Null,57,58,5303
4,1,44,HAM,Lewis Hamilton,2018,0.0,1.0,1,Mercedes,#00D2BE,...,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",Null,57,58,5303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14869,45,88,KUB,Robert Kubica,2015,Null,Null,121,Williams,#192c4e,...,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",Null,55,55,5554
14870,45,88,KUB,Robert Kubica,2016,Null,Null,121,Williams,#192c4e,...,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",Null,55,55,5554
14871,45,88,KUB,Robert Kubica,2017,Null,Null,121,Williams,#192c4e,...,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",Null,55,55,5554
14872,45,88,KUB,Robert Kubica,2018,Null,Null,121,Williams,#192c4e,...,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",Null,55,55,5554
14873,45,88,KUB,Robert Kubica,2019,0.0,2.0,121,Williams,#192c4e,...,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",Null,55,55,5554

In [114]:
DNF_data_df.to_csv("data/dnf/DNF_data.csv", index=False)
mergedDR_df.to_csv("data/dnf/mergedDR.csv", index=False)
mergedSRa_df.to_csv("data/dnf/mergedSRa.csv", index=False)

In [115]:
# Change "NaN" values in the "comment" column to "Null"
DNF_data_df['comment'] = DNF_data_df['comment'].fillna('Null')
DNF_data_df['accidents'] = DNF_data_df['accidents'].fillna('Null')
DNF_data_df['failures'] = DNF_data_df['failures'].fillna('Null')
mergedDR_df['accidents'] = mergedDR_df['accidents'].fillna('Null')
mergedDR_df['failures'] = mergedDR_df['failures'].fillna('Null')
mergedSRa_df['comment'] = mergedSRa_df['comment'].fillna('Null')

In [116]:
# Now the DataFrame is ready to be saved as a JSON file
# Saving the DataFrame to a JSON file
DNF_data_df.to_json('DNF_data.json', orient='records', lines=True)
mergedDR_df.to_json('mergedDR.json', orient='records', lines=True)
mergedSRa_df.to_json('mergedSRa.json', orient='records', lines=True)

In [118]:
# Define the file path where you want to save the JSON file
json_file_path_DNF_data = "DNF_data.json"
json_file_path_mergedDR = "mergedDR.json"
json_file_path_mergedSRa = "mergedSRa.json"

In [119]:
DNF_data_df.to_json('DNF_data.json', orient='records', lines=True)
DNF_data_df.to_json('DNF_data.json', orient='records', lines=True)
DNF_data_df.to_json('DNF_data.json', orient='records', lines=True)