In [2]:
import requests
import pandas as pd
from pprint import pprint
import numpy as np

In [3]:
query_url = 'http://ergast.com/api/f1/2014/races.json'

In [4]:
fourteen_schedule = requests.get(query_url).json()
pprint(fourteen_schedule)

{'MRData': {'RaceTable': {'Races': [{'Circuit': {'Location': {'country': 'Australia',
                                                              'lat': '-37.8497',
                                                              'locality': 'Melbourne',
                                                              'long': '144.968'},
                                                 'circuitId': 'albert_park',
                                                 'circuitName': 'Albert Park '
                                                                'Grand Prix '
                                                                'Circuit',
                                                 'url': 'http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit'},
                                     'date': '2014-03-16',
                                     'raceName': 'Australian Grand Prix',
                                     'round': '1',
                                     'season': '2014',
                                     'time': '06:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_Australian_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'Malaysia',
                                                              'lat': '2.76083',
                                                              'locality': 'Kuala '
                                                                          'Lumpur',
                                                              'long': '101.738'},
                                                 'circuitId': 'sepang',
                                                 'circuitName': 'Sepang '
                                                                'International '
                                                                'Circuit',
                                                 'url': 'http://en.wikipedia.org/wiki/Sepang_International_Circuit'},
                                     'date': '2014-03-30',
                                     'raceName': 'Malaysian Grand Prix',
                                     'round': '2',
                                     'season': '2014',
                                     'time': '08:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_Malaysian_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'Bahrain',
                                                              'lat': '26.0325',
                                                              'locality': 'Sakhir',
                                                              'long': '50.5106'},
                                                 'circuitId': 'bahrain',
                                                 'circuitName': 'Bahrain '
                                                                'International '
                                                                'Circuit',
                                                 'url': 'http://en.wikipedia.org/wiki/Bahrain_International_Circuit'},
                                     'date': '2014-04-06',
                                     'raceName': 'Bahrain Grand Prix',
                                     'round': '3',
                                     'season': '2014',
                                     'time': '15:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_Bahrain_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'China',
                                                              'lat': '31.3389',
                                                              'locality': 'Shanghai',
                                                              'long': '121.22'},
                                                 'circuitId': 'shanghai',
                                                 'circuitName': 'Shanghai '
                                                                'International '
                                                                'Circuit',
                                                 'url': 'http://en.wikipedia.org/wiki/Shanghai_International_Circuit'},
                                     'date': '2014-04-20',
                                     'raceName': 'Chinese Grand Prix',
                                     'round': '4',
                                     'season': '2014',
                                     'time': '07:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_Chinese_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'Spain',
                                                              'lat': '41.57',
                                                              'locality': 'Montmel√≥',
                                                              'long': '2.26111'},
                                                 'circuitId': 'catalunya',
                                                 'circuitName': 'Circuit de '
                                                                'Barcelona-Catalunya',
                                                 'url': 'http://en.wikipedia.org/wiki/Circuit_de_Barcelona-Catalunya'},
                                     'date': '2014-05-11',
                                     'raceName': 'Spanish Grand Prix',
                                     'round': '5',
                                     'season': '2014',
                                     'time': '12:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_Spanish_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'Monaco',
                                                              'lat': '43.7347',
                                                              'locality': 'Monte-Carlo',
                                                              'long': '7.42056'},
                                                 'circuitId': 'monaco',
                                                 'circuitName': 'Circuit de '
                                                                'Monaco',
                                                 'url': 'http://en.wikipedia.org/wiki/Circuit_de_Monaco'},
                                     'date': '2014-05-25',
                                     'raceName': 'Monaco Grand Prix',
                                     'round': '6',
                                     'season': '2014',
                                     'time': '12:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_Monaco_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'Canada',
                                                              'lat': '45.5',
                                                              'locality': 'Montreal',
                                                              'long': '-73.5228'},
                                                 'circuitId': 'villeneuve',
                                                 'circuitName': 'Circuit '
                                                                'Gilles '
                                                                'Villeneuve',
                                                 'url': 'http://en.wikipedia.org/wiki/Circuit_Gilles_Villeneuve'},
                                     'date': '2014-06-08',
                                     'raceName': 'Canadian Grand Prix',
                                     'round': '7',
                                     'season': '2014',
                                     'time': '18:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_Canadian_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'Austria',
                                                              'lat': '47.2197',
                                                              'locality': 'Spielberg',
                                                              'long': '14.7647'},
                                                 'circuitId': 'red_bull_ring',
                                                 'circuitName': 'Red Bull Ring',
                                                 'url': 'http://en.wikipedia.org/wiki/Red_Bull_Ring'},
                                     'date': '2014-06-22',
                                     'raceName': 'Austrian Grand Prix',
                                     'round': '8',
                                     'season': '2014',
                                     'time': '12:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_Austrian_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'UK',
                                                              'lat': '52.0786',
                                                              'locality': 'Silverstone',
                                                              'long': '-1.01694'},
                                                 'circuitId': 'silverstone',
                                                 'circuitName': 'Silverstone '
                                                                'Circuit',
                                                 'url': 'http://en.wikipedia.org/wiki/Silverstone_Circuit'},
                                     'date': '2014-07-06',
                                     'raceName': 'British Grand Prix',
                                     'round': '9',
                                     'season': '2014',
                                     'time': '12:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_British_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'Germany',
                                                              'lat': '49.3278',
                                                              'locality': 'Hockenheim',
                                                              'long': '8.56583'},
                                                 'circuitId': 'hockenheimring',
                                                 'circuitName': 'Hockenheimring',
                                                 'url': 'http://en.wikipedia.org/wiki/Hockenheimring'},
                                     'date': '2014-07-20',
                                     'raceName': 'German Grand Prix',
                                     'round': '10',
                                     'season': '2014',
                                     'time': '12:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_German_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'Hungary',
                                                              'lat': '47.5789',
                                                              'locality': 'Budapest',
                                                              'long': '19.2486'},
                                                 'circuitId': 'hungaroring',
                                                 'circuitName': 'Hungaroring',
                                                 'url': 'http://en.wikipedia.org/wiki/Hungaroring'},
                                     'date': '2014-07-27',
                                     'raceName': 'Hungarian Grand Prix',
                                     'round': '11',
                                     'season': '2014',
                                     'time': '12:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_Hungarian_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'Belgium',
                                                              'lat': '50.4372',
                                                              'locality': 'Spa',
                                                              'long': '5.97139'},
                                                 'circuitId': 'spa',
                                                 'circuitName': 'Circuit de '
                                                                'Spa-Francorchamps',
                                                 'url': 'http://en.wikipedia.org/wiki/Circuit_de_Spa-Francorchamps'},
                                     'date': '2014-08-24',
                                     'raceName': 'Belgian Grand Prix',
                                     'round': '12',
                                     'season': '2014',
                                     'time': '12:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_Belgian_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'Italy',
                                                              'lat': '45.6156',
                                                              'locality': 'Monza',
                                                              'long': '9.28111'},
                                                 'circuitId': 'monza',
                                                 'circuitName': 'Autodromo '
                                                                'Nazionale di '
                                                                'Monza',
                                                 'url': 'http://en.wikipedia.org/wiki/Autodromo_Nazionale_Monza'},
                                     'date': '2014-09-07',
                                     'raceName': 'Italian Grand Prix',
                                     'round': '13',
                                     'season': '2014',
                                     'time': '12:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_Italian_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'Singapore',
                                                              'lat': '1.2914',
                                                              'locality': 'Marina '
                                                                          'Bay',
                                                              'long': '103.864'},
                                                 'circuitId': 'marina_bay',
                                                 'circuitName': 'Marina Bay '
                                                                'Street '
                                                                'Circuit',
                                                 'url': 'http://en.wikipedia.org/wiki/Marina_Bay_Street_Circuit'},
                                     'date': '2014-09-21',
                                     'raceName': 'Singapore Grand Prix',
                                     'round': '14',
                                     'season': '2014',
                                     'time': '12:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_Singapore_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'Japan',
                                                              'lat': '34.8431',
                                                              'locality': 'Suzuka',
                                                              'long': '136.541'},
                                                 'circuitId': 'suzuka',
                                                 'circuitName': 'Suzuka '
                                                                'Circuit',
                                                 'url': 'http://en.wikipedia.org/wiki/Suzuka_Circuit'},
                                     'date': '2014-10-05',
                                     'raceName': 'Japanese Grand Prix',
                                     'round': '15',
                                     'season': '2014',
                                     'time': '06:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_Japanese_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'Russia',
                                                              'lat': '43.4057',
                                                              'locality': 'Sochi',
                                                              'long': '39.9578'},
                                                 'circuitId': 'sochi',
                                                 'circuitName': 'Sochi '
                                                                'Autodrom',
                                                 'url': 'http://en.wikipedia.org/wiki/Sochi_Autodrom'},
                                     'date': '2014-10-12',
                                     'raceName': 'Russian Grand Prix',
                                     'round': '16',
                                     'season': '2014',
                                     'time': '11:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_Russian_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'USA',
                                                              'lat': '30.1328',
                                                              'locality': 'Austin',
                                                              'long': '-97.6411'},
                                                 'circuitId': 'americas',
                                                 'circuitName': 'Circuit of '
                                                                'the Americas',
                                                 'url': 'http://en.wikipedia.org/wiki/Circuit_of_the_Americas'},
                                     'date': '2014-11-02',
                                     'raceName': 'United States Grand Prix',
                                     'round': '17',
                                     'season': '2014',
                                     'time': '20:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_United_States_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'Brazil',
                                                              'lat': '-23.7036',
                                                              'locality': 'S√£o '
                                                                          'Paulo',
                                                              'long': '-46.6997'},
                                                 'circuitId': 'interlagos',
                                                 'circuitName': 'Aut√≥dromo '
                                                                'Jos√© Carlos '
                                                                'Pace',
                                                 'url': 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jos%C3%A9_Carlos_Pace'},
                                     'date': '2014-11-09',
                                     'raceName': 'Brazilian Grand Prix',
                                     'round': '18',
                                     'season': '2014',
                                     'time': '16:00:00Z',
                                     'url': 'http://en.wikipedia.org/wiki/2014_Brazilian_Grand_Prix'},
                                    {'Circuit': {'Location': {'country': 'UAE',

In [8]:
fourteen_df = pd.DataFrame(fourteen_schedule)
fourteen_df

                                                      MRData
RaceTable  {'season': '2014', 'Races': [{'season': '2014'...
limit                                                     30
offset                                                     0
series                                                    f1
total                                                     19
url                 http://ergast.com/api/f1/2014/races.json
xmlns                              http://ergast.com/mrd/1.5

In [9]:
fourteen_df = pd.DataFrame(fourteen_df['MRData']['RaceTable']['Races'])
fourteen_df

,season,round,url,raceName,Circuit,date,time
0,2014,1,http://en.wikipedia.org/wiki/2014_Australian_G...,Australian Grand Prix,"{'circuitId': 'albert_park', 'url': 'http://en...",2014-03-16,06:00:00Z
1,2014,2,http://en.wikipedia.org/wiki/2014_Malaysian_Gr...,Malaysian Grand Prix,"{'circuitId': 'sepang', 'url': 'http://en.wiki...",2014-03-30,08:00:00Z
2,2014,3,http://en.wikipedia.org/wiki/2014_Bahrain_Gran...,Bahrain Grand Prix,"{'circuitId': 'bahrain', 'url': 'http://en.wik...",2014-04-06,15:00:00Z
3,2014,4,http://en.wikipedia.org/wiki/2014_Chinese_Gran...,Chinese Grand Prix,"{'circuitId': 'shanghai', 'url': 'http://en.wi...",2014-04-20,07:00:00Z
4,2014,5,http://en.wikipedia.org/wiki/2014_Spanish_Gran...,Spanish Grand Prix,"{'circuitId': 'catalunya', 'url': 'http://en.w...",2014-05-11,12:00:00Z
5,2014,6,http://en.wikipedia.org/wiki/2014_Monaco_Grand...,Monaco Grand Prix,"{'circuitId': 'monaco', 'url': 'http://en.wiki...",2014-05-25,12:00:00Z
6,2014,7,http://en.wikipedia.org/wiki/2014_Canadian_Gra...,Canadian Grand Prix,"{'circuitId': 'villeneuve', 'url': 'http://en....",2014-06-08,18:00:00Z
7,2014,8,http://en.wikipedia.org/wiki/2014_Austrian_Gra...,Austrian Grand Prix,"{'circuitId': 'red_bull_ring', 'url': 'http://...",2014-06-22,12:00:00Z
8,2014,9,http://en.wikipedia.org/wiki/2014_British_Gran...,British Grand Prix,"{'circuitId': 'silverstone', 'url': 'http://en...",2014-07-06,12:00:00Z
9,2014,10,http://en.wikipedia.org/wiki/2014_German_Grand...,German Grand Prix,"{'circuitId': 'hockenheimring', 'url': 'http:/...",2014-07-20,12:00:00Z
10,2014,11,http://en.wikipedia.org/wiki/2014_Hungarian_Gr...,Hungarian Grand Prix,"{'circuitId': 'hungaroring', 'url': 'http://en...",2014-07-27,12:00:00Z
11,2014,12,http://en.wikipedia.org/wiki/2014_Belgian_Gran...,Belgian Grand Prix,"{'circuitId': 'spa', 'url': 'http://en.wikiped...",2014-08-24,12:00:00Z
12,2014,13,http://en.wikipedia.org/wiki/2014_Italian_Gran...,Italian Grand Prix,"{'circuitId': 'monza', 'url': 'http://en.wikip...",2014-09-07,12:00:00Z
13,2014,14,http://en.wikipedia.org/wiki/2014_Singapore_Gr...,Singapore Grand Prix,"{'circuitId': 'marina_bay', 'url': 'http://en....",2014-09-21,12:00:00Z
14,2014,15,http://en.wikipedia.org/wiki/2014_Japanese_Gra...,Japanese Grand Prix,"{'circuitId': 'suzuka', 'url': 'http://en.wiki...",2014-10-05,06:00:00Z
15,2014,16,http://en.wikipedia.org/wiki/2014_Russian_Gran...,Russian Grand Prix,"{'circuitId': 'sochi', 'url': 'http://en.wikip...",2014-10-12,11:00:00Z
16,2014,17,http://en.wikipedia.org/wiki/2014_United_State...,United States Grand Prix,"{'circuitId': 'americas', 'url': 'http://en.wi...",2014-11-02,20:00:00Z
17,2014,18,http://en.wikipedia.org/wiki/2014_Brazilian_Gr...,Brazilian Grand Prix,"{'circuitId': 'interlagos', 'url': 'http://en....",2014-11-09,16:00:00Z
18,2014,19,http://en.wikipedia.org/wiki/2014_Abu_Dhabi_Gr...,Abu Dhabi Grand Prix,"{'circuitId': 'yas_marina', 'url': 'http://en....",2014-11-23,13:00:00Z

In [10]:
locations = []
test = []
for i in fourteen_df['Circuit']:
    print(i['Location'])
    dict = i['Location']
    locations.append(dict)

{'lat': '-37.8497', 'long': '144.968', 'locality': 'Melbourne', 'country': 'Australia'}
{'lat': '2.76083', 'long': '101.738', 'locality': 'Kuala Lumpur', 'country': 'Malaysia'}
{'lat': '26.0325', 'long': '50.5106', 'locality': 'Sakhir', 'country': 'Bahrain'}
{'lat': '31.3389', 'long': '121.22', 'locality': 'Shanghai', 'country': 'China'}
{'lat': '41.57', 'long': '2.26111', 'locality': 'Montmel√≥', 'country': 'Spain'}
{'lat': '43.7347', 'long': '7.42056', 'locality': 'Monte-Carlo', 'country': 'Monaco'}
{'lat': '45.5', 'long': '-73.5228', 'locality': 'Montreal', 'country': 'Canada'}
{'lat': '47.2197', 'long': '14.7647', 'locality': 'Spielberg', 'country': 'Austria'}
{'lat': '52.0786', 'long': '-1.01694', 'locality': 'Silverstone', 'country': 'UK'}
{'lat': '49.3278', 'long': '8.56583', 'locality': 'Hockenheim', 'country': 'Germany'}
{'lat': '47.5789', 'long': '19.2486', 'locality': 'Budapest', 'country': 'Hungary'}
{'lat': '50.4372', 'long': '5.97139', 'locality': 'Spa', 'country': 'Belgium'}
{'lat': '45.6156', 'long': '9.28111', 'locality': 'Monza', 'country': 'Italy'}
{'lat': '1.2914', 'long': '103.864', 'locality': 'Marina Bay', 'country': 'Singapore'}
{'lat': '34.8431', 'long': '136.541', 'locality': 'Suzuka', 'country': 'Japan'}
{'lat': '43.4057', 'long': '39.9578', 'locality': 'Sochi', 'country': 'Russia'}
{'lat': '30.1328', 'long': '-97.6411', 'locality': 'Austin', 'country': 'USA'}
{'lat': '-23.7036', 'long': '-46.6997', 'locality': 'S√£o Paulo', 'country': 'Brazil'}
{'lat': '24.4672', 'long': '54.6031', 'locality': 'Abu Dhabi', 'country': 'UAE'}

In [11]:
locations

[{'lat': '-37.8497',
  'long': '144.968',
  'locality': 'Melbourne',
  'country': 'Australia'},
 {'lat': '2.76083',
  'long': '101.738',
  'locality': 'Kuala Lumpur',
  'country': 'Malaysia'},
 {'lat': '26.0325',
  'long': '50.5106',
  'locality': 'Sakhir',
  'country': 'Bahrain'},
 {'lat': '31.3389',
  'long': '121.22',
  'locality': 'Shanghai',
  'country': 'China'},
 {'lat': '41.57',
  'long': '2.26111',
  'locality': 'Montmel√≥',
  'country': 'Spain'},
 {'lat': '43.7347',
  'long': '7.42056',
  'locality': 'Monte-Carlo',
  'country': 'Monaco'},
 {'lat': '45.5',
  'long': '-73.5228',
  'locality': 'Montreal',
  'country': 'Canada'},
 {'lat': '47.2197',
  'long': '14.7647',
  'locality': 'Spielberg',
  'country': 'Austria'},
 {'lat': '52.0786',
  'long': '-1.01694',
  'locality': 'Silverstone',
  'country': 'UK'},
 {'lat': '49.3278',
  'long': '8.56583',
  'locality': 'Hockenheim',
  'country': 'Germany'},
 {'lat': '47.5789',
  'long': '19.2486',
  'locality': 'Budapest',
  'country': 'Hungary'},
 {'lat': '50.4372',
  'long': '5.97139',
  'locality': 'Spa',
  'country': 'Belgium'},
 {'lat': '45.6156',
  'long': '9.28111',
  'locality': 'Monza',
  'country': 'Italy'},
 {'lat': '1.2914',
  'long': '103.864',
  'locality': 'Marina Bay',
  'country': 'Singapore'},
 {'lat': '34.8431',
  'long': '136.541',
  'locality': 'Suzuka',
  'country': 'Japan'},
 {'lat': '43.4057',
  'long': '39.9578',
  'locality': 'Sochi',
  'country': 'Russia'},
 {'lat': '30.1328',
  'long': '-97.6411',
  'locality': 'Austin',
  'country': 'USA'},
 {'lat': '-23.7036',
  'long': '-46.6997',
  'locality': 'S√£o Paulo',
  'country': 'Brazil'},
 {'lat': '24.4672',
  'long': '54.6031',
  'locality': 'Abu Dhabi',
  'country': 'UAE'}]

In [12]:
locations_df = pd.DataFrame(locations)
locations_df

         lat      long      locality    country
0   -37.8497   144.968     Melbourne  Australia
1    2.76083   101.738  Kuala Lumpur   Malaysia
2    26.0325   50.5106        Sakhir    Bahrain
3    31.3389    121.22      Shanghai      China
4      41.57   2.26111      Montmel√≥      Spain
5    43.7347   7.42056   Monte-Carlo     Monaco
6       45.5  -73.5228      Montreal     Canada
7    47.2197   14.7647     Spielberg    Austria
8    52.0786  -1.01694   Silverstone         UK
9    49.3278   8.56583    Hockenheim    Germany
10   47.5789   19.2486      Budapest    Hungary
11   50.4372   5.97139           Spa    Belgium
12   45.6156   9.28111         Monza      Italy
13    1.2914   103.864    Marina Bay  Singapore
14   34.8431   136.541        Suzuka      Japan
15   43.4057   39.9578         Sochi     Russia
16   30.1328  -97.6411        Austin        USA
17  -23.7036  -46.6997     S√£o Paulo     Brazil
18   24.4672   54.6031     Abu Dhabi        UAE

In [13]:
locations_2014_df = pd.merge(locations_df, fourteen_df[['season', 'round']], left_index = True, right_index = True)
locations_2014_df

         lat      long      locality    country season round
0   -37.8497   144.968     Melbourne  Australia   2014     1
1    2.76083   101.738  Kuala Lumpur   Malaysia   2014     2
2    26.0325   50.5106        Sakhir    Bahrain   2014     3
3    31.3389    121.22      Shanghai      China   2014     4
4      41.57   2.26111      Montmel√≥      Spain   2014     5
5    43.7347   7.42056   Monte-Carlo     Monaco   2014     6
6       45.5  -73.5228      Montreal     Canada   2014     7
7    47.2197   14.7647     Spielberg    Austria   2014     8
8    52.0786  -1.01694   Silverstone         UK   2014     9
9    49.3278   8.56583    Hockenheim    Germany   2014    10
10   47.5789   19.2486      Budapest    Hungary   2014    11
11   50.4372   5.97139           Spa    Belgium   2014    12
12   45.6156   9.28111         Monza      Italy   2014    13
13    1.2914   103.864    Marina Bay  Singapore   2014    14
14   34.8431   136.541        Suzuka      Japan   2014    15
15   43.4057   39.9578         Sochi     Russia   2014    16
16   30.1328  -97.6411        Austin        USA   2014    17
17  -23.7036  -46.6997     S√£o Paulo     Brazil   2014    18
18   24.4672   54.6031     Abu Dhabi        UAE   2014    19

In [14]:
locations_2014_df.dtypes

lat         object
long        object
locality    object
country     object
season      object
round       object
dtype: object

In [15]:
locations_2014_df['lat'] = locations_2014_df['lat'].astype(float)
locations_2014_df['long'] = locations_2014_df['long'].astype(float)
locations_2014_df['season'] = locations_2014_df['season'].astype(int)
locations_2014_df['round'] = locations_2014_df['round'].astype(int)

In [16]:
locations_2014_df.dtypes

lat         float64
long        float64
locality     object
country      object
season        int64
round         int64
dtype: object

In [17]:
def locations(year):
    season = year
    query_url = f'http://ergast.com/api/f1/{season}/races.json'

    year_schedule = requests.get(query_url).json()
    year_df = pd.DataFrame(year_schedule['MRData']['RaceTable']['Races'])

    locations = []
    for i in year_df['Circuit']:
        loc_dict = i['Location']
        locations.append(loc_dict)

    locations_df = pd.DataFrame(locations)

    locations_year_df = pd.merge(locations_df, year_df[['season', 'round']], left_index = True, right_index = True)
    locations_year_df

    locations_year_df.dtypes

    locations_year_df['lat'] = locations_year_df['lat'].astype(float)
    locations_year_df['long'] = locations_year_df['long'].astype(float)
    locations_year_df['season'] = locations_year_df['season'].astype(int)
    locations_year_df['round'] = locations_year_df['round'].astype(int)

    return locations_year_df

In [18]:
locations_2015_df = locations(2015)
locations_2015_df

         lat       long      locality    country  season  round
0  -37.84970  144.96800     Melbourne  Australia    2015      1
1    2.76083  101.73800  Kuala Lumpur   Malaysia    2015      2
2   31.33890  121.22000      Shanghai      China    2015      3
3   26.03250   50.51060        Sakhir    Bahrain    2015      4
4   41.57000    2.26111      Montmel√≥      Spain    2015      5
5   43.73470    7.42056   Monte-Carlo     Monaco    2015      6
6   45.50000  -73.52280      Montreal     Canada    2015      7
7   47.21970   14.76470     Spielberg    Austria    2015      8
8   52.07860   -1.01694   Silverstone         UK    2015      9
9   47.57890   19.24860      Budapest    Hungary    2015     10
10  50.43720    5.97139           Spa    Belgium    2015     11
11  45.61560    9.28111         Monza      Italy    2015     12
12   1.29140  103.86400    Marina Bay  Singapore    2015     13
13  34.84310  136.54100        Suzuka      Japan    2015     14
14  43.40570   39.95780         Sochi     Russia    2015     15
15  30.13280  -97.64110        Austin        USA    2015     16
16  19.40420  -99.09070   Mexico City     Mexico    2015     17
17 -23.70360  -46.69970     S√£o Paulo     Brazil    2015     18
18  24.46720   54.60310     Abu Dhabi        UAE    2015     19

In [19]:
locations_2016_df = locations(2016)
locations_2016_df

         lat       long      locality     country  season  round
0  -37.84970  144.96800     Melbourne   Australia    2016      1
1   26.03250   50.51060        Sakhir     Bahrain    2016      2
2   31.33890  121.22000      Shanghai       China    2016      3
3   43.40570   39.95780         Sochi      Russia    2016      4
4   41.57000    2.26111      Montmel√≥       Spain    2016      5
5   43.73470    7.42056   Monte-Carlo      Monaco    2016      6
6   45.50000  -73.52280      Montreal      Canada    2016      7
7   40.37250   49.85330          Baku  Azerbaijan    2016      8
8   47.21970   14.76470     Spielberg     Austria    2016      9
9   52.07860   -1.01694   Silverstone          UK    2016     10
10  47.57890   19.24860      Budapest     Hungary    2016     11
11  49.32780    8.56583    Hockenheim     Germany    2016     12
12  50.43720    5.97139           Spa     Belgium    2016     13
13  45.61560    9.28111         Monza       Italy    2016     14
14   1.29140  103.86400    Marina Bay   Singapore    2016     15
15   2.76083  101.73800  Kuala Lumpur    Malaysia    2016     16
16  34.84310  136.54100        Suzuka       Japan    2016     17
17  30.13280  -97.64110        Austin         USA    2016     18
18  19.40420  -99.09070   Mexico City      Mexico    2016     19
19 -23.70360  -46.69970     S√£o Paulo      Brazil    2016     20
20  24.46720   54.60310     Abu Dhabi         UAE    2016     21

In [20]:
locations_2017_df = locations(2017)
locations_2017_df

         lat       long      locality     country  season  round
0  -37.84970  144.96800     Melbourne   Australia    2017      1
1   31.33890  121.22000      Shanghai       China    2017      2
2   26.03250   50.51060        Sakhir     Bahrain    2017      3
3   43.40570   39.95780         Sochi      Russia    2017      4
4   41.57000    2.26111      Montmel√≥       Spain    2017      5
5   43.73470    7.42056   Monte-Carlo      Monaco    2017      6
6   45.50000  -73.52280      Montreal      Canada    2017      7
7   40.37250   49.85330          Baku  Azerbaijan    2017      8
8   47.21970   14.76470     Spielberg     Austria    2017      9
9   52.07860   -1.01694   Silverstone          UK    2017     10
10  47.57890   19.24860      Budapest     Hungary    2017     11
11  50.43720    5.97139           Spa     Belgium    2017     12
12  45.61560    9.28111         Monza       Italy    2017     13
13   1.29140  103.86400    Marina Bay   Singapore    2017     14
14   2.76083  101.73800  Kuala Lumpur    Malaysia    2017     15
15  34.84310  136.54100        Suzuka       Japan    2017     16
16  30.13280  -97.64110        Austin         USA    2017     17
17  19.40420  -99.09070   Mexico City      Mexico    2017     18
18 -23.70360  -46.69970     S√£o Paulo      Brazil    2017     19
19  24.46720   54.60310     Abu Dhabi         UAE    2017     20

In [21]:
locations_2018_df = locations(2018)
locations_2018_df

        lat       long      locality     country  season  round
0  -37.8497  144.96800     Melbourne   Australia    2018      1
1   26.0325   50.51060        Sakhir     Bahrain    2018      2
2   31.3389  121.22000      Shanghai       China    2018      3
3   40.3725   49.85330          Baku  Azerbaijan    2018      4
4   41.5700    2.26111      Montmel√≥       Spain    2018      5
5   43.7347    7.42056   Monte-Carlo      Monaco    2018      6
6   45.5000  -73.52280      Montreal      Canada    2018      7
7   43.2506    5.79167  Le Castellet      France    2018      8
8   47.2197   14.76470     Spielberg     Austria    2018      9
9   52.0786   -1.01694   Silverstone          UK    2018     10
10  49.3278    8.56583    Hockenheim     Germany    2018     11
11  47.5789   19.24860      Budapest     Hungary    2018     12
12  50.4372    5.97139           Spa     Belgium    2018     13
13  45.6156    9.28111         Monza       Italy    2018     14
14   1.2914  103.86400    Marina Bay   Singapore    2018     15
15  43.4057   39.95780         Sochi      Russia    2018     16
16  34.8431  136.54100        Suzuka       Japan    2018     17
17  30.1328  -97.64110        Austin         USA    2018     18
18  19.4042  -99.09070   Mexico City      Mexico    2018     19
19 -23.7036  -46.69970     S√£o Paulo      Brazil    2018     20
20  24.4672   54.60310     Abu Dhabi         UAE    2018     21

In [22]:
locations_2019_df = locations(2019)
locations_2019_df

        lat       long      locality     country  season  round
0  -37.8497  144.96800     Melbourne   Australia    2019      1
1   26.0325   50.51060        Sakhir     Bahrain    2019      2
2   31.3389  121.22000      Shanghai       China    2019      3
3   40.3725   49.85330          Baku  Azerbaijan    2019      4
4   41.5700    2.26111      Montmel√≥       Spain    2019      5
5   43.7347    7.42056   Monte-Carlo      Monaco    2019      6
6   45.5000  -73.52280      Montreal      Canada    2019      7
7   43.2506    5.79167  Le Castellet      France    2019      8
8   47.2197   14.76470     Spielberg     Austria    2019      9
9   52.0786   -1.01694   Silverstone          UK    2019     10
10  49.3278    8.56583    Hockenheim     Germany    2019     11
11  47.5789   19.24860      Budapest     Hungary    2019     12
12  50.4372    5.97139           Spa     Belgium    2019     13
13  45.6156    9.28111         Monza       Italy    2019     14
14   1.2914  103.86400    Marina Bay   Singapore    2019     15
15  43.4057   39.95780         Sochi      Russia    2019     16
16  34.8431  136.54100        Suzuka       Japan    2019     17
17  19.4042  -99.09070   Mexico City      Mexico    2019     18
18  30.1328  -97.64110        Austin         USA    2019     19
19 -23.7036  -46.69970     S√£o Paulo      Brazil    2019     20
20  24.4672   54.60310     Abu Dhabi         UAE    2019     21

In [23]:
locations_dfs = [locations_2014_df, locations_2015_df, locations_2016_df, locations_2017_df, locations_2018_df, locations_2019_df]
locations_merged = pd.concat(locations_dfs, join = 'inner', axis = 0)
locations_merged

         lat       long      locality    country  season  round
0  -37.84970  144.96800     Melbourne  Australia    2014      1
1    2.76083  101.73800  Kuala Lumpur   Malaysia    2014      2
2   26.03250   50.51060        Sakhir    Bahrain    2014      3
3   31.33890  121.22000      Shanghai      China    2014      4
4   41.57000    2.26111      Montmel√≥      Spain    2014      5
..       ...        ...           ...        ...     ...    ...
16  34.84310  136.54100        Suzuka      Japan    2019     17
17  19.40420  -99.09070   Mexico City     Mexico    2019     18
18  30.13280  -97.64110        Austin        USA    2019     19
19 -23.70360  -46.69970     S√£o Paulo     Brazil    2019     20
20  24.46720   54.60310     Abu Dhabi        UAE    2019     21

[121 rows x 6 columns]

In [24]:
locations_merged_uniques = locations_merged.drop_duplicates(['lat', 'long'])
locations_merged_uniques

         lat       long      locality     country  season  round
0  -37.84970  144.96800     Melbourne   Australia    2014      1
1    2.76083  101.73800  Kuala Lumpur    Malaysia    2014      2
2   26.03250   50.51060        Sakhir     Bahrain    2014      3
3   31.33890  121.22000      Shanghai       China    2014      4
4   41.57000    2.26111      Montmel√≥       Spain    2014      5
5   43.73470    7.42056   Monte-Carlo      Monaco    2014      6
6   45.50000  -73.52280      Montreal      Canada    2014      7
7   47.21970   14.76470     Spielberg     Austria    2014      8
8   52.07860   -1.01694   Silverstone          UK    2014      9
9   49.32780    8.56583    Hockenheim     Germany    2014     10
10  47.57890   19.24860      Budapest     Hungary    2014     11
11  50.43720    5.97139           Spa     Belgium    2014     12
12  45.61560    9.28111         Monza       Italy    2014     13
13   1.29140  103.86400    Marina Bay   Singapore    2014     14
14  34.84310  136.54100        Suzuka       Japan    2014     15
15  43.40570   39.95780         Sochi      Russia    2014     16
16  30.13280  -97.64110        Austin         USA    2014     17
17 -23.70360  -46.69970     S√£o Paulo      Brazil    2014     18
18  24.46720   54.60310     Abu Dhabi         UAE    2014     19
16  19.40420  -99.09070   Mexico City      Mexico    2015     17
7   40.37250   49.85330          Baku  Azerbaijan    2016      8
7   43.25060    5.79167  Le Castellet      France    2018      8

In [25]:
locations_uniques = locations_merged_uniques.reset_index()
locations_uniques

    index       lat       long      locality     country  season  round
0       0 -37.84970  144.96800     Melbourne   Australia    2014      1
1       1   2.76083  101.73800  Kuala Lumpur    Malaysia    2014      2
2       2  26.03250   50.51060        Sakhir     Bahrain    2014      3
3       3  31.33890  121.22000      Shanghai       China    2014      4
4       4  41.57000    2.26111      Montmel√≥       Spain    2014      5
5       5  43.73470    7.42056   Monte-Carlo      Monaco    2014      6
6       6  45.50000  -73.52280      Montreal      Canada    2014      7
7       7  47.21970   14.76470     Spielberg     Austria    2014      8
8       8  52.07860   -1.01694   Silverstone          UK    2014      9
9       9  49.32780    8.56583    Hockenheim     Germany    2014     10
10     10  47.57890   19.24860      Budapest     Hungary    2014     11
11     11  50.43720    5.97139           Spa     Belgium    2014     12
12     12  45.61560    9.28111         Monza       Italy    2014     13
13     13   1.29140  103.86400    Marina Bay   Singapore    2014     14
14     14  34.84310  136.54100        Suzuka       Japan    2014     15
15     15  43.40570   39.95780         Sochi      Russia    2014     16
16     16  30.13280  -97.64110        Austin         USA    2014     17
17     17 -23.70360  -46.69970     S√£o Paulo      Brazil    2014     18
18     18  24.46720   54.60310     Abu Dhabi         UAE    2014     19
19     16  19.40420  -99.09070   Mexico City      Mexico    2015     17
20      7  40.37250   49.85330          Baku  Azerbaijan    2016      8
21      7  43.25060    5.79167  Le Castellet      France    2018      8

In [28]:
locations_merged.to_csv('data/f1_location_all.csv')
locations_uniques.to_csv('data/f1_location_unique.csv')

In [8]:
locations_id = pd.read_csv('data/f1_location_all.csv')
locations_id

     Unnamed: 0       lat       long      locality    country  season  round
0             0 -37.84970  144.96800     Melbourne  Australia    2014      1
1             1   2.76083  101.73800  Kuala Lumpur   Malaysia    2014      2
2             2  26.03250   50.51060        Sakhir    Bahrain    2014      3
3             3  31.33890  121.22000      Shanghai      China    2014      4
4             4  41.57000    2.26111      Montmel√≥      Spain    2014      5
..          ...       ...        ...           ...        ...     ...    ...
116          16  34.84310  136.54100        Suzuka      Japan    2019     17
117          17  19.40420  -99.09070   Mexico City     Mexico    2019     18
118          18  30.13280  -97.64110        Austin        USA    2019     19
119          19 -23.70360  -46.69970     S√£o Paulo     Brazil    2019     20
120          20  24.46720   54.60310     Abu Dhabi        UAE    2019     21

[121 rows x 7 columns]

In [9]:
locations_id = locations_id.drop(columns = 'Unnamed: 0')

In [10]:
locations_id

          lat       long      locality    country  season  round
0   -37.84970  144.96800     Melbourne  Australia    2014      1
1     2.76083  101.73800  Kuala Lumpur   Malaysia    2014      2
2    26.03250   50.51060        Sakhir    Bahrain    2014      3
3    31.33890  121.22000      Shanghai      China    2014      4
4    41.57000    2.26111      Montmel√≥      Spain    2014      5
..        ...        ...           ...        ...     ...    ...
116  34.84310  136.54100        Suzuka      Japan    2019     17
117  19.40420  -99.09070   Mexico City     Mexico    2019     18
118  30.13280  -97.64110        Austin        USA    2019     19
119 -23.70360  -46.69970     S√£o Paulo     Brazil    2019     20
120  24.46720   54.60310     Abu Dhabi        UAE    2019     21

[121 rows x 6 columns]

In [11]:
locations_id.index = range(1, len(locations_id)+1)

In [12]:
locations_id

          lat       long      locality    country  season  round
1   -37.84970  144.96800     Melbourne  Australia    2014      1
2     2.76083  101.73800  Kuala Lumpur   Malaysia    2014      2
3    26.03250   50.51060        Sakhir    Bahrain    2014      3
4    31.33890  121.22000      Shanghai      China    2014      4
5    41.57000    2.26111      Montmel√≥      Spain    2014      5
..        ...        ...           ...        ...     ...    ...
117  34.84310  136.54100        Suzuka      Japan    2019     17
118  19.40420  -99.09070   Mexico City     Mexico    2019     18
119  30.13280  -97.64110        Austin        USA    2019     19
120 -23.70360  -46.69970     S√£o Paulo     Brazil    2019     20
121  24.46720   54.60310     Abu Dhabi        UAE    2019     21

[121 rows x 6 columns]

In [13]:
locations_id.index.name = 'id'

In [14]:
locations_id

          lat       long      locality    country  season  round
id
1   -37.84970  144.96800     Melbourne  Australia    2014      1
2     2.76083  101.73800  Kuala Lumpur   Malaysia    2014      2
3    26.03250   50.51060        Sakhir    Bahrain    2014      3
4    31.33890  121.22000      Shanghai      China    2014      4
5    41.57000    2.26111      Montmel√≥      Spain    2014      5
..        ...        ...           ...        ...     ...    ...
117  34.84310  136.54100        Suzuka      Japan    2019     17
118  19.40420  -99.09070   Mexico City     Mexico    2019     18
119  30.13280  -97.64110        Austin        USA    2019     19
120 -23.70360  -46.69970     S√£o Paulo     Brazil    2019     20
121  24.46720   54.60310     Abu Dhabi        UAE    2019     21

[121 rows x 6 columns]

In [15]:
locations_id.to_csv('data/f1_locations_id.csv')