In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
# Store filepaths into variable
drivers_csv = Path("data/drivers.csv")
fcyphases_csv = Path("data/fcyphases.csv")
laps_csv = Path("data/laps.csv")
qualifyings_csv = Path("data/qualifyings.csv")
races_csv = Path("data/races.csv")
retirements_csv = Path("data/retirements.csv")
starterfields_csv = Path("data/starterfields.csv")
weather = Path("data/merged_weather.csv")
weather_long = Path("data/f1_weather_long.csv")

In [3]:
# Read in files and make dfs
drivers_df = pd.read_csv(drivers_csv)
fcyphases_df = pd.read_csv(fcyphases_csv)
laps_df = pd.read_csv(laps_csv)
qualifyings_df = pd.read_csv(qualifyings_csv)
races_df = pd.read_csv(races_csv)
retirements_df = pd.read_csv(retirements_csv)
starterfields_df = pd.read_csv(starterfields_csv)
weather_df = pd.read_csv(weather)
weather_long_df = pd.read_csv(weather_long)

In [8]:
drivers_df.head()

   id  carno initials              name
0   1     44      HAM    Lewis Hamilton
1   2      3      RIC  Daniel Ricciardo
2   3      6      ROS      Nico Rosberg
3   4     20      MAG   Kevin Magnussen
4   5     14      ALO   Fernando Alonso

In [5]:
races_df

,id,date,season,location,availablecompounds,comment,nolaps,nolapsplanned,tracklength
0,1,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
1,2,2014-03-30,2014,KualaLumpur,"A1,A2,I,W",NaN,56,56,5543
2,3,2014-04-06,2014,Sakhir,"A2,A3,I,W","Crash GUT in lap 41, SC somewhen in the end of...",57,57,5412
3,4,2014-04-20,2014,Shanghai,"A2,A3,I,W",NaN,54,56,5451
4,5,2014-05-11,2014,Catalunya,"A1,A2,I,W",NaN,66,66,4655
...,...,...,...,...,...,...,...,...,...
116,117,2019-10-13,2019,Suzuka,"A2,A3,A4,I,W",NaN,52,53,5807
117,118,2019-10-27,2019,MexicoCity,"A3,A4,A6,I,W",NaN,71,71,4304
118,119,2019-11-03,2019,Austin,"A3,A4,A6,I,W",NaN,56,56,5513
119,120,2019-11-17,2019,SaoPaulo,"A2,A3,A4,I,W",NaN,71,71,4309
120,121,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554

In [6]:
retirements_df

     season  driver_id  accidents  failures
0      2014         43        NaN       NaN
1      2015         43        NaN       NaN
2      2016         43        NaN       NaN
3      2017         43        NaN       NaN
4      2018         43        NaN       NaN
..      ...        ...        ...       ...
265    2015         31        NaN       NaN
266    2016         31        3.0       2.0
267    2017         31        2.0       1.0
268    2018         31        NaN       NaN
269    2019         31        NaN       NaN

[270 rows x 4 columns]

In [7]:
starterfields_df

,race_id,driver_id,team,teamcolor,enginemanufacturer,gridposition,status,resultposition,completedlaps,speedtrap
0,1,1,Mercedes,#00D2BE,Mercedes,1,DNF,19,2,252.8
1,1,2,RedBull,#1E41FF,Renault,2,DQ,22,57,292.7
2,1,3,Mercedes,#00D2BE,Mercedes,3,F,1,57,299.1
3,1,4,McLaren,#FF8700,Mercedes,4,F,2,57,316.9
4,1,5,Ferrari,#DC0000,Ferrari,5,F,4,57,304.5
...,...,...,...,...,...,...,...,...,...,...
2474,121,35,AlfaRomeo,#9B0000,Ferrari,16,F,16,54,334.9
2475,121,11,AlfaRomeo,#9B0000,Ferrari,17,F,13,54,329.6
2476,121,44,Williams,#192c4e,Mercedes,18,F,17,54,329.3
2477,121,45,Williams,#192c4e,Mercedes,19,F,19,53,317.8
2478,121,15,Mercedes,#00D2BE,Mercedes,20,F,4,55,321.5