In [15]:
import psycopg2
import pandas as pd

conn = psycopg2.connect(database="f1_halo",
                       host="localhost",
                       user="postgres",
                       password = "postgres",
                       port="5432")

In [12]:
cursor = conn.cursor()

In [17]:
cursor.execute("SELECT * from driver LIMIT 100;")

In [18]:
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 44, 'HAM', 'Lewis Hamilton')
(2, 3, 'RIC', 'Daniel Ricciardo')
(3, 6, 'ROS', 'Nico Rosberg')
(4, 20, 'MAG', 'Kevin Magnussen')
(5, 14, 'ALO', 'Fernando Alonso')
(6, 25, 'VER', 'Jean-Eric Vergne')
(7, 27, 'HUL', 'Nico Hulkenberg')
(8, 26, 'KVY', 'Daniil Kvyat')
(9, 19, 'MAS', 'Felipe Massa')
(10, 22, 'BUT', 'Jenson Button')
(11, 7, 'RAI', 'Kimi Raikkonen')
(12, 5, 'VET', 'Sebastian Vettel')
(13, 99, 'SUT', 'Adrian Sutil')
(14, 10, 'KOB', 'Kamui Kobayashi')
(15, 77, 'BOT', 'Valtteri Bottas')
(16, 11, 'PER', 'Sergio Perez')
(17, 4, 'CHI', 'Max Chilton')
(18, 17, 'BIA', 'Jules Bianchi')
(19, 9, 'ERI', 'Marcus Ericsson')
(20, 21, 'GUT', 'Esteban Gutierrez')
(21, 13, 'MAL', 'Pastor Maldonado')
(22, 8, 'GRO', 'Romain Grosjean')
(23, 45, 'LOT', 'Andre Lotterer')
(24, 28, 'STE', 'Will Stevens')
(25, 55, 'SAI', 'Carlos Sainz Jnr')
(26, 12, 'NAS', 'Felipe Nasr')
(27, 33, 'VER', 'Max Verstappen')
(28, 98, 'MER', 'Roberto Merhi')
(29, 53, 'RSS', 'Alexander Rossi')
(30, 30, 'PAL', 'Jolyon Palmer')
(31, 94, 'WEH', 'Pascal Wehrlein')
(32, 88, 'HAR', 'Rio Haryanto')
(33, 2, 'VAN', 'Stoffel Vandoorne')
(34, 31, 'OCO', 'Esteban Ocon')
(35, 99, 'GIO', 'Antonio Giovinazzi')
(36, 18, 'STR', 'Lance Stroll')
(37, 40, 'DIR', 'Paul di Resta')
(38, 10, 'GAS', 'Pierre Gasly')
(39, 28, 'HAR', 'Brendon Hartley')
(40, 16, 'LEC', 'Charles Leclerc')
(41, 35, 'SIR', 'Sergey Sirotkin')
(42, 4, 'NOR', 'Lando Norris')
(43, 23, 'ALB', 'Alexander Albon')
(44, 63, 'RUS', 'George Russell')
(45, 88, 'KUB', 'Robert Kubica')

In [19]:
df = pd.DataFrame(rows)
df.head()

   0   1    2                 3
0  1  44  HAM    Lewis Hamilton
1  2   3  RIC  Daniel Ricciardo
2  3   6  ROS      Nico Rosberg
3  4  20  MAG   Kevin Magnussen
4  5  14  ALO   Fernando Alonso

In [10]:
cursor.close()
conn.close()