In [56]:
## PRELIM STEP: refine, organize, and merge data

In [160]:
# Import Dependencies
import pandas as pd
import numpy as np
from pathlib import Path

In [161]:
# Store filepaths into variable
drivers_csv = Path("data/drivers.csv")
fcyphases_csv = Path("data/fcyphases.csv")
laps_csv = Path("data/laps.csv")
qualifyings_csv = Path("data/qualifyings.csv")
races_csv = Path("data/races.csv")
retirements_csv = Path("data/retirements.csv")
starterfields_csv = Path("data/starterfields.csv")
weather = Path("data/merged_weather.csv")
weather_long = Path("data/f1_weather_long.csv")

In [162]:
# Read in files and make dfs
drivers_df = pd.read_csv(drivers_csv)
fcyphases_df = pd.read_csv(fcyphases_csv)
laps_df = pd.read_csv(laps_csv)
qualifyings_df = pd.read_csv(qualifyings_csv)
races_df = pd.read_csv(races_csv)
retirements_df = pd.read_csv(retirements_csv)
starterfields_df = pd.read_csv(starterfields_csv)
weather_df = pd.read_csv(weather)
weather_long_df = pd.read_csv(weather_long)

In [163]:
#display dfs

In [164]:
display(drivers_df)
display(fcyphases_df)
display(laps_df)
display(qualifyings_df)
display(races_df)
display(retirements_df)
display(starterfields_df)
display(weather_df)
display(weather_long_df)

    id  carno initials                name
0    1     44      HAM      Lewis Hamilton
1    2      3      RIC    Daniel Ricciardo
2    3      6      ROS        Nico Rosberg
3    4     20      MAG     Kevin Magnussen
4    5     14      ALO     Fernando Alonso
5    6     25      VER    Jean-Eric Vergne
6    7     27      HUL     Nico Hulkenberg
7    8     26      KVY        Daniil Kvyat
8    9     19      MAS        Felipe Massa
9   10     22      BUT       Jenson Button
10  11      7      RAI      Kimi Raikkonen
11  12      5      VET    Sebastian Vettel
12  13     99      SUT        Adrian Sutil
13  14     10      KOB     Kamui Kobayashi
14  15     77      BOT     Valtteri Bottas
15  16     11      PER        Sergio Perez
16  17      4      CHI         Max Chilton
17  18     17      BIA       Jules Bianchi
18  19      9      ERI     Marcus Ericsson
19  20     21      GUT   Esteban Gutierrez
20  21     13      MAL    Pastor Maldonado
21  22      8      GRO     Romain Grosjean
22  23     45      LOT      Andre Lotterer
23  24     28      STE        Will Stevens
24  25     55      SAI    Carlos Sainz Jnr
25  26     12      NAS         Felipe Nasr
26  27     33      VER      Max Verstappen
27  28     98      MER       Roberto Merhi
28  29     53      RSS     Alexander Rossi
29  30     30      PAL       Jolyon Palmer
30  31     94      WEH     Pascal Wehrlein
31  32     88      HAR        Rio Haryanto
32  33      2      VAN   Stoffel Vandoorne
33  34     31      OCO        Esteban Ocon
34  35     99      GIO  Antonio Giovinazzi
35  36     18      STR        Lance Stroll
36  37     40      DIR       Paul di Resta
37  38     10      GAS        Pierre Gasly
38  39     28      HAR     Brendon Hartley
39  40     16      LEC     Charles Leclerc
40  41     35      SIR     Sergey Sirotkin
41  42      4      NOR        Lando Norris
42  43     23      ALB     Alexander Albon
43  44     63      RUS      George Russell
44  45     88      KUB       Robert Kubica

,id,race_id,startracetime,endracetime,startraceprog,endraceprog,startlap,endlap,type
0,1,1,1069,1604.0,11.107,14.922,12,15,SC
1,2,3,4157,4899.0,41.010,45.965,42,46,SC
2,3,6,59,332.0,0.583,2.897,1,3,SC
3,4,6,2157,2710.0,25.289,29.916,26,30,SC
4,5,7,38,829.0,0.372,6.864,1,7,SC
...,...,...,...,...,...,...,...,...,...
131,132,116,2874,3013.0,27.384,28.457,28,29,VSC
132,133,116,3062,3572.0,28.807,31.934,29,32,SC
133,134,118,74,218.0,0.823,2.213,1,3,VSC
134,135,120,3946,4558.0,53.418,58.883,54,59,SC
135,136,120,5061,5416.0,65.720,68.740,66,69,SC

,race_id,lapno,position,driver_id,laptime,racetime,gap,interval,compound,tireage,pitintime,pitstopduration,nextcompound,startlapprog_vsc,endlapprog_vsc,age_vsc,startlapprog_sc,endlapprog_sc,age_sc
0,1,0,1,1,NaN,0.000,NaN,NaN,A3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,2,2,NaN,0.000,NaN,NaN,A3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,0,3,3,NaN,0.000,NaN,NaN,A3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,0,4,4,NaN,0.000,NaN,NaN,A3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,0,5,5,NaN,0.000,NaN,NaN,A3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134001,121,55,2,27,101.119,5662.487,16.772,16.772,A4,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134002,121,55,3,40,102.829,5689.150,43.435,26.663,A7,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134003,121,55,4,15,102.180,5690.094,44.379,0.944,A4,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134004,121,55,5,12,100.128,5710.072,64.357,19.978,A6,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134005,121,55,6,43,103.358,5714.920,69.205,4.848,A4,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

      race_id  position  driver_id  q1laptime  q2laptime  q3laptime  speedtrap
0           1         1          1     91.699    102.890    104.231      310.7
1           1         2          2     90.775    102.295    104.548      303.2
2           1         3          3     92.564    102.264    104.595      313.8
3           1         4          4     90.949    103.247    105.745      314.8
4           1         5          5     91.388    102.805    105.819      310.9
...       ...       ...        ...        ...        ...        ...        ...
2467      121        16         22     98.051        NaN        NaN      325.2
2468      121        17         35     98.114        NaN        NaN      323.0
2469      121        18         11     98.383        NaN        NaN      320.4
2470      121        19         44     98.717        NaN        NaN      326.5
2471      121        20         45     99.236        NaN        NaN      325.0

[2472 rows x 7 columns]

,id,date,season,location,availablecompounds,comment,nolaps,nolapsplanned,tracklength
0,1,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
1,2,2014-03-30,2014,KualaLumpur,"A1,A2,I,W",NaN,56,56,5543
2,3,2014-04-06,2014,Sakhir,"A2,A3,I,W","Crash GUT in lap 41, SC somewhen in the end of...",57,57,5412
3,4,2014-04-20,2014,Shanghai,"A2,A3,I,W",NaN,54,56,5451
4,5,2014-05-11,2014,Catalunya,"A1,A2,I,W",NaN,66,66,4655
...,...,...,...,...,...,...,...,...,...
116,117,2019-10-13,2019,Suzuka,"A2,A3,A4,I,W",NaN,52,53,5807
117,118,2019-10-27,2019,MexicoCity,"A3,A4,A6,I,W",NaN,71,71,4304
118,119,2019-11-03,2019,Austin,"A3,A4,A6,I,W",NaN,56,56,5513
119,120,2019-11-17,2019,SaoPaulo,"A2,A3,A4,I,W",NaN,71,71,4309
120,121,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554

     season  driver_id  accidents  failures
0      2014         43        NaN       NaN
1      2015         43        NaN       NaN
2      2016         43        NaN       NaN
3      2017         43        NaN       NaN
4      2018         43        NaN       NaN
..      ...        ...        ...       ...
265    2015         31        NaN       NaN
266    2016         31        3.0       2.0
267    2017         31        2.0       1.0
268    2018         31        NaN       NaN
269    2019         31        NaN       NaN

[270 rows x 4 columns]

,race_id,driver_id,team,teamcolor,enginemanufacturer,gridposition,status,resultposition,completedlaps,speedtrap
0,1,1,Mercedes,#00D2BE,Mercedes,1,DNF,19,2,252.8
1,1,2,RedBull,#1E41FF,Renault,2,DQ,22,57,292.7
2,1,3,Mercedes,#00D2BE,Mercedes,3,F,1,57,299.1
3,1,4,McLaren,#FF8700,Mercedes,4,F,2,57,316.9
4,1,5,Ferrari,#DC0000,Ferrari,5,F,4,57,304.5
...,...,...,...,...,...,...,...,...,...,...
2474,121,35,AlfaRomeo,#9B0000,Ferrari,16,F,16,54,334.9
2475,121,11,AlfaRomeo,#9B0000,Ferrari,17,F,13,54,329.6
2476,121,44,Williams,#192c4e,Mercedes,18,F,17,54,329.3
2477,121,45,Williams,#192c4e,Mercedes,19,F,19,53,317.8
2478,121,15,Mercedes,#00D2BE,Mercedes,20,F,4,55,321.5

,Unnamed: 0,season,round,race_name,circuitId,date,distance,weather,driver_name,finish_position,...,initials,dateOfBirth,circuitName,lat,long,location,country,type,direction,length
0,0,2014,1,australian,albert_park,3/16/2014,302.271,"overcast, 19°c (66°f) dry",rosberg,1.0,...,ROS,6/27/1985,Albert Park Grand Prix Circuit,-37.8497,144.96800,Melbourne,Australia,Street circuit,Clockwise,5.303
1,1,2015,1,australian,albert_park,3/15/2015,307.574,partly cloudy 17.5°c (63.5°f) air temperature...,rosberg,2.0,...,ROS,6/27/1985,Albert Park Grand Prix Circuit,-37.8497,144.96800,Melbourne,Australia,Street circuit,Clockwise,5.303
2,2,2016,1,australian,albert_park,3/20/2016,302.271,partly cloudy 22.5°c (72.5°f) air temperature...,rosberg,1.0,...,ROS,6/27/1985,Albert Park Grand Prix Circuit,-37.8497,144.96800,Melbourne,Australia,Street circuit,Clockwise,5.303
3,3,2014,1,australian,albert_park,3/16/2014,302.271,"overcast, 19°c (66°f) dry",kevin_magnussen,2.0,...,MAG,10/5/1992,Albert Park Grand Prix Circuit,-37.8497,144.96800,Melbourne,Australia,Street circuit,Clockwise,5.303
4,4,2015,1,australian,albert_park,3/15/2015,307.574,partly cloudy 17.5°c (63.5°f) air temperature...,kevin_magnussen,17.0,...,MAG,10/5/1992,Albert Park Grand Prix Circuit,-37.8497,144.96800,Melbourne,Australia,Street circuit,Clockwise,5.303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3045,3045,2020,14,turkish,istanbul,11/15/2020,309.396,overcast. wet and drying track. air 12.5°c (...,russell,16.0,...,RUS,2/15/1998,Istanbul Park,40.9517,29.40500,Istanbul,Turkey,Race circuit,Anti-clockwise,5.338
3046,3046,2020,14,turkish,istanbul,11/15/2020,309.396,overcast. wet and drying track. air 12.5°c (...,latifi,19.0,...,LAT,6/29/1995,Istanbul Park,40.9517,29.40500,Istanbul,Turkey,Race circuit,Anti-clockwise,5.338
3047,3047,2021,16,turkish,istanbul,10/3/2021,NaN,,NaN,NaN,...,NaN,NaN,Istanbul Park,40.9517,29.40500,Istanbul,Turkey,Race circuit,Anti-clockwise,5.338
3048,3048,2021,13,dutch,zandvoort,9/5/2021,NaN,,NaN,NaN,...,NaN,NaN,Circuit Park Zandvoort,52.3888,4.54092,Zandvoort,Netherlands,Race circuit,Clockwise,4.259
3049,3049,2021,22,saudi-arabian,jeddah,12/5/2021,NaN,,NaN,NaN,...,NaN,NaN,Jeddah Street Circuit,21.5433,39.17280,Jeddah,Saudi Arabia,Street circuit,Anti-clockwise,6.175

,id,temp,feels_like,humidity,clouds,wind_speed,main,description,icon,date
0,1,65,63,38,100,10.30,Rain,Light Rain,10d,3/16/2014
1,2,89,98,62,75,4.63,Clouds,Broken Clouds,04d,3/30/2014
2,3,72,72,64,0,5.87,Clear,Clear Sky,01n,4/6/2014
3,4,64,63,67,75,3.00,Clouds,Broken Clouds,04d,4/20/2014
4,5,74,74,53,40,7.20,Clouds,Scattered Clouds,03d,5/11/2014
...,...,...,...,...,...,...,...,...,...,...
116,117,74,74,52,0,8.20,Clear,Clear Sky,01d,10/13/2019
117,118,73,72,46,75,3.10,Rain,Light Rain,10d,10/27/2019
118,119,72,70,24,20,4.60,Clouds,Few Clouds,02d,11/3/2019
119,120,68,68,64,40,7.20,Clouds,Scattered Clouds,03d,11/17/2019
120,121,81,81,47,0,4.60,Clear,Clear Sky,01d,12/1/2019

In [165]:
# make column name variables constant throughout all dfs
drivers_df.rename(columns = {'id':'driver_id'}, inplace = True)
# drivers_df.to_csv('drivers.csv') only do this if create a seperate data file
races_df.rename(columns = {'id':'race_id'}, inplace = True)

In [166]:
# make adjustments to column names to better represent data 

# for "retirements" df... NOTE: accidents and failures is per driver per season (not per race)
retirements_df.rename(columns = {'accidents':'accidents per driver, per season'}, inplace = True)
retirements_df.rename(columns = {'failures':'failures per driver, per season'}, inplace = True)

#for weather_df...
weather_df.rename(columns = {'constructor': 'team'}, inplace = True)
weather_df.rename(columns = {'length': 'tracklength'}, inplace = True)
# Convert the 'date' column to datetime format
weather_df['date'] = pd.to_datetime(weather_df['date'], format='%m/%d/%Y')
# Convert the 'date' column to the desired format with dashes
weather_df['date'] = weather_df['date'].dt.strftime('%Y-%m-%d')

# for weather_long_df, convert date and change column names
weather_long_df.rename(columns = {'description': 'weather expanded'}, inplace = True)
weather_long_df.rename(columns = {'temp': 'temperature'}, inplace = True)
weather_long_df.rename(columns = {'main': 'weather in brief'}, inplace = True)
# Convert the 'date' column to datetime format
weather_long_df['date'] = pd.to_datetime(weather_long_df['date'], format='%m/%d/%Y')
# Convert the 'date' column to the desired format with dashes
weather_long_df['date'] = weather_long_df['date'].dt.strftime('%Y-%m-%d')
weather_long_df

,id,temperature,feels_like,humidity,clouds,wind_speed,weather in brief,weather expanded,icon,date
0,1,65,63,38,100,10.30,Rain,Light Rain,10d,2014-03-16
1,2,89,98,62,75,4.63,Clouds,Broken Clouds,04d,2014-03-30
2,3,72,72,64,0,5.87,Clear,Clear Sky,01n,2014-04-06
3,4,64,63,67,75,3.00,Clouds,Broken Clouds,04d,2014-04-20
4,5,74,74,53,40,7.20,Clouds,Scattered Clouds,03d,2014-05-11
...,...,...,...,...,...,...,...,...,...,...
116,117,74,74,52,0,8.20,Clear,Clear Sky,01d,2019-10-13
117,118,73,72,46,75,3.10,Rain,Light Rain,10d,2019-10-27
118,119,72,70,24,20,4.60,Clouds,Few Clouds,02d,2019-11-03
119,120,68,68,64,40,7.20,Clouds,Scattered Clouds,03d,2019-11-17
120,121,81,81,47,0,4.60,Clear,Clear Sky,01d,2019-12-01

In [167]:
# make adjustments to data sets to make more concise/eliminate redundancies

# refine weather_long_df by dropping coluns and prepping for merge with weather_df
weather_long_df = weather_long_df.drop(columns = ['id','feels_like','icon'])

# make adjustments to data sets to make more concise/eliminate redundancies
weather_df_unique_weather = weather_df.drop_duplicates(subset=['date'])
    #weather_df_unique_weather = weather_df_unique_weather.set_index(['season','date'])
    #weather_df_unique_weather.sort_index()

# MERGE WEATHER DATA
weather_inclusive = pd.merge(weather_long_df,weather_df_unique_weather)

# save large weather dataset to weather_df_inclusive csv
weather_inclusive.to_csv('data/weather_df_inclusive.csv')
weather_inclusive

# refine weather df
weather_df_unique_weather_refined = weather_inclusive.drop(columns=['distance','race_name','circuitId','driver_name','time','dateOfBirth','type','direction','tracklength','nationality'])
weather_df_unique_weather_refined.sort_index()

# save medium weather dataset to weather_df_inclusive_refined csv
weather_df_unique_weather_refined.to_csv('data/weather_df_inclusive_refined.csv')


# refine weather_df_unique_weather_refined weather df further
weather_df_unique_weather_refined2 = weather_df_unique_weather_refined.drop(columns=['Unnamed: 0','round','name','team','initials','finish_position','grid','points','qual_position','q_best', 'q_worst','q_mean', 'status'])
weather_df_unique_weather_refined2.sort_index()

# save refined weather dataset to weather_df_refined csv
weather_df_unique_weather_refined2.to_csv('data/weather_df_refined.csv')
weather_df_unique_weather_refined2.set_index(['season','date'])
# weather_df_unique_weather_refined2.sort_index()

                   temperature  humidity  clouds  wind_speed weather in brief  \
season date
2014   2014-03-16           65        38     100       10.30             Rain
       2014-03-30           89        62      75        4.63           Clouds
       2014-04-06           72        64       0        5.87            Clear
       2014-04-20           64        67      75        3.00           Clouds
       2014-05-11           74        53      40        7.20           Clouds
...                        ...       ...     ...         ...              ...
2019   2019-10-13           74        52       0        8.20            Clear
       2019-10-27           73        46      75        3.10             Rain
       2019-11-03           72        24      20        4.60           Clouds
       2019-11-17           68        64      40        7.20           Clouds
       2019-12-01           81        47       0        4.60            Clear

                   weather expanded                      weather  \
season date
2014   2014-03-16        Light Rain    overcast, 19°c (66°f) dry
       2014-03-30     Broken Clouds               dry , 32°c dry
       2014-04-06         Clear Sky                        dry
       2014-04-20     Broken Clouds        mostly cloudy , dry
       2014-05-11  Scattered Clouds                      sunny
...                             ...                          ...
2019   2019-10-13         Clear Sky         sunny  dry   21.75°c
       2019-10-27        Light Rain  partly cloudy  dry   22.3°c
       2019-11-03        Few Clouds          sunny  dry   21.3°c
       2019-11-17  Scattered Clouds           sunny  dry  20.4°c
       2019-12-01         Clear Sky          clear  dry  25.85°c

                                      circuitName       lat       long  \
season date
2014   2014-03-16  Albert Park Grand Prix Circuit -37.84970  144.96800
       2014-03-30    Sepang International Circuit   2.76083  101.73800
       2014-04-06   Bahrain International Circuit  26.03250   50.51060
       2014-04-20  Shanghai International Circuit  31.33890  121.22000
       2014-05-11  Circuit de Barcelona-Catalunya  41.57000    2.26111
...                                           ...       ...        ...
2019   2019-10-13                  Suzuka Circuit  34.84310  136.54100
       2019-10-27    Autódromo Hermanos Rodríguez  19.40420  -99.09070
       2019-11-03         Circuit of the Americas  30.13280  -97.64110
       2019-11-17      Autódromo José Carlos Pace -23.70360  -46.69970
       2019-12-01              Yas Marina Circuit  24.46720   54.60310

                       location    country
season date
2014   2014-03-16     Melbourne  Australia
       2014-03-30  Kuala Lumpur   Malaysia
       2014-04-06        Sakhir    Bahrain
       2014-04-20      Shanghai      China
       2014-05-11      Montmeló      Spain
...                         ...        ...
2019   2019-10-13        Suzuka      Japan
       2019-10-27   Mexico City     Mexico
       2019-11-03        Austin        USA
       2019-11-17     São Paulo     Brazil
       2019-12-01     Abu Dhabi        UAE

[121 rows x 12 columns]

In [168]:
#start merging

In [169]:
merge1 = pd.merge(drivers_df, starterfields_df)

In [170]:
merge2 = pd.merge(merge1, races_df)

In [171]:
merge3 = pd.merge(merge2, retirements_df)

In [172]:
meta_data = pd.merge(weather_df_unique_weather_refined2, merge3)
meta_data

,temperature,humidity,clouds,wind_speed,weather in brief,weather expanded,date,season,weather,circuitName,...,resultposition,completedlaps,speedtrap,availablecompounds,comment,nolaps,nolapsplanned,tracklength,"accidents per driver, per season","failures per driver, per season"
0,65,38,100,10.3,Rain,Light Rain,2014-03-16,2014,"overcast, 19°c (66°f) dry",Albert Park Grand Prix Circuit,...,19,2,252.8,"A2,A3,I,W",NaN,57,58,5303,0.0,3.0
1,65,38,100,10.3,Rain,Light Rain,2014-03-16,2014,"overcast, 19°c (66°f) dry",Albert Park Grand Prix Circuit,...,22,57,292.7,"A2,A3,I,W",NaN,57,58,5303,0.0,2.0
2,65,38,100,10.3,Rain,Light Rain,2014-03-16,2014,"overcast, 19°c (66°f) dry",Albert Park Grand Prix Circuit,...,1,57,299.1,"A2,A3,I,W",NaN,57,58,5303,0.0,2.0
3,65,38,100,10.3,Rain,Light Rain,2014-03-16,2014,"overcast, 19°c (66°f) dry",Albert Park Grand Prix Circuit,...,2,57,316.9,"A2,A3,I,W",NaN,57,58,5303,0.0,1.0
4,65,38,100,10.3,Rain,Light Rain,2014-03-16,2014,"overcast, 19°c (66°f) dry",Albert Park Grand Prix Circuit,...,4,57,304.5,"A2,A3,I,W",NaN,57,58,5303,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1512,72,24,20,4.6,Clouds,Few Clouds,2019-11-03,2019,sunny dry 21.3°c,Circuit of the Americas,...,4,56,321.5,"A3,A4,A6,I,W",NaN,56,56,5513,1.0,1.0
1513,72,24,20,4.6,Clouds,Few Clouds,2019-11-03,2019,sunny dry 21.3°c,Circuit of the Americas,...,7,56,324.2,"A3,A4,A6,I,W",NaN,56,56,5513,1.0,3.0
1514,72,24,20,4.6,Clouds,Few Clouds,2019-11-03,2019,sunny dry 21.3°c,Circuit of the Americas,...,5,56,328.7,"A3,A4,A6,I,W",NaN,56,56,5513,0.0,1.0
1515,72,24,20,4.6,Clouds,Few Clouds,2019-11-03,2019,sunny dry 21.3°c,Circuit of the Americas,...,17,54,325.1,"A3,A4,A6,I,W",NaN,56,56,5513,2.0,0.0
1516,72,24,20,4.6,Clouds,Few Clouds,2019-11-03,2019,sunny dry 21.3°c,Circuit of the Americas,...,19,31,303.7,"A3,A4,A6,I,W",NaN,56,56,5513,0.0,2.0

In [173]:
meta_data_refined = meta_data[['season', 'date', 'race_id','location','circuitName','weather','lat','long','driver_id','name','team','enginemanufacturer','resultposition','gridposition','status','completedlaps','comment','nolaps','tracklength']]
meta_data_refined = meta_data_refined.set_index(['season', 'date'])
meta_data_refined.sort_index()

                   race_id   location                     circuitName  \
season date
2014   2014-03-16        1  Melbourne  Albert Park Grand Prix Circuit
       2014-03-16        1  Melbourne  Albert Park Grand Prix Circuit
       2014-03-16        1  Melbourne  Albert Park Grand Prix Circuit
       2014-03-16        1  Melbourne  Albert Park Grand Prix Circuit
       2014-03-16        1  Melbourne  Albert Park Grand Prix Circuit
...                    ...        ...                             ...
2019   2019-11-03      119     Austin         Circuit of the Americas
       2019-11-03      119     Austin         Circuit of the Americas
       2019-11-03      119     Austin         Circuit of the Americas
       2019-11-03      119     Austin         Circuit of the Americas
       2019-11-03      119     Austin         Circuit of the Americas

                                     weather      lat      long  driver_id  \
season date
2014   2014-03-16  overcast, 19°c (66°f) dry -37.8497  144.9680          1
       2014-03-16  overcast, 19°c (66°f) dry -37.8497  144.9680          2
       2014-03-16  overcast, 19°c (66°f) dry -37.8497  144.9680          3
       2014-03-16  overcast, 19°c (66°f) dry -37.8497  144.9680          4
       2014-03-16  overcast, 19°c (66°f) dry -37.8497  144.9680          5
...                                      ...      ...       ...        ...
2019   2019-11-03        sunny  dry   21.3°c  30.1328  -97.6411         40
       2019-11-03        sunny  dry   21.3°c  30.1328  -97.6411         42
       2019-11-03        sunny  dry   21.3°c  30.1328  -97.6411         43
       2019-11-03        sunny  dry   21.3°c  30.1328  -97.6411         44
       2019-11-03        sunny  dry   21.3°c  30.1328  -97.6411         45

                               name      team enginemanufacturer  \
season date
2014   2014-03-16    Lewis Hamilton  Mercedes           Mercedes
       2014-03-16  Daniel Ricciardo   RedBull            Renault
       2014-03-16      Nico Rosberg  Mercedes           Mercedes
       2014-03-16   Kevin Magnussen   McLaren           Mercedes
       2014-03-16   Fernando Alonso   Ferrari            Ferrari
...                             ...       ...                ...
2019   2019-11-03   Charles Leclerc   Ferrari            Ferrari
       2019-11-03      Lando Norris   McLaren            Renault
       2019-11-03   Alexander Albon   RedBull              Honda
       2019-11-03    George Russell  Williams           Mercedes
       2019-11-03     Robert Kubica  Williams           Mercedes

                   resultposition  gridposition status  completedlaps comment  \
season date
2014   2014-03-16              19             1    DNF              2     NaN
       2014-03-16              22             2     DQ             57     NaN
       2014-03-16               1             3      F             57     NaN
       2014-03-16               2             4      F             57     NaN
       2014-03-16               4             5      F             57     NaN
...                           ...           ...    ...            ...     ...
2019   2019-11-03               4             4      F             56     NaN
       2019-11-03               7             8      F             56     NaN
       2019-11-03               5             6      F             56     NaN
       2019-11-03              17            18      F             54     NaN
       2019-11-03              19            19    DNF             31     NaN

                   nolaps  tracklength
season date
2014   2014-03-16      57         5303
       2014-03-16      57         5303
       2014-03-16      57         5303
       2014-03-16      57         5303
       2014-03-16      57         5303
...                   ...          ...
2019   2019-11-03      56         5513
       2019-11-03      56         5513
       2019-11-03      56         5513
       2019-11-03      56         5513
       2019-11-03      56         5513

[1517 rows x 17 columns]

In [174]:
meta_data.set_index(['season','date','location','circuitName'])

                                                            temperature  \
season date       location  circuitName
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit           65
                            Albert Park Grand Prix Circuit           65
                            Albert Park Grand Prix Circuit           65
                            Albert Park Grand Prix Circuit           65
                            Albert Park Grand Prix Circuit           65
...                                                                 ...
2019   2019-11-03 Austin    Circuit of the Americas                  72
                            Circuit of the Americas                  72
                            Circuit of the Americas                  72
                            Circuit of the Americas                  72
                            Circuit of the Americas                  72

                                                            humidity  clouds  \
season date       location  circuitName
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit        38     100
                            Albert Park Grand Prix Circuit        38     100
                            Albert Park Grand Prix Circuit        38     100
                            Albert Park Grand Prix Circuit        38     100
                            Albert Park Grand Prix Circuit        38     100
...                                                              ...     ...
2019   2019-11-03 Austin    Circuit of the Americas               24      20
                            Circuit of the Americas               24      20
                            Circuit of the Americas               24      20
                            Circuit of the Americas               24      20
                            Circuit of the Americas               24      20

                                                            wind_speed  \
season date       location  circuitName
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit        10.3
                            Albert Park Grand Prix Circuit        10.3
                            Albert Park Grand Prix Circuit        10.3
                            Albert Park Grand Prix Circuit        10.3
                            Albert Park Grand Prix Circuit        10.3
...                                                                ...
2019   2019-11-03 Austin    Circuit of the Americas                4.6
                            Circuit of the Americas                4.6
                            Circuit of the Americas                4.6
                            Circuit of the Americas                4.6
                            Circuit of the Americas                4.6

                                                           weather in brief  \
season date       location  circuitName
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit             Rain
                            Albert Park Grand Prix Circuit             Rain
                            Albert Park Grand Prix Circuit             Rain
                            Albert Park Grand Prix Circuit             Rain
                            Albert Park Grand Prix Circuit             Rain
...                                                                     ...
2019   2019-11-03 Austin    Circuit of the Americas                  Clouds
                            Circuit of the Americas                  Clouds
                            Circuit of the Americas                  Clouds
                            Circuit of the Americas                  Clouds
                            Circuit of the Americas                  Clouds

                                                           weather expanded  \
season date       location  circuitName
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit       Light Rain
                            Albert Park Grand Prix Circuit       Light Rain
                            Albert Park Grand Prix Circuit       Light Rain
                            Albert Park Grand Prix Circuit       Light Rain
                            Albert Park Grand Prix Circuit       Light Rain
...                                                                     ...
2019   2019-11-03 Austin    Circuit of the Americas              Few Clouds
                            Circuit of the Americas              Few Clouds
                            Circuit of the Americas              Few Clouds
                            Circuit of the Americas              Few Clouds
                            Circuit of the Americas              Few Clouds

                                                                              weather  \
season date       location  circuitName
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit  overcast, 19°c (66°f) dry
                            Albert Park Grand Prix Circuit  overcast, 19°c (66°f) dry
                            Albert Park Grand Prix Circuit  overcast, 19°c (66°f) dry
                            Albert Park Grand Prix Circuit  overcast, 19°c (66°f) dry
                            Albert Park Grand Prix Circuit  overcast, 19°c (66°f) dry
...                                                                               ...
2019   2019-11-03 Austin    Circuit of the Americas               sunny  dry   21.3°c
                            Circuit of the Americas               sunny  dry   21.3°c
                            Circuit of the Americas               sunny  dry   21.3°c
                            Circuit of the Americas               sunny  dry   21.3°c
                            Circuit of the Americas               sunny  dry   21.3°c

                                                                lat      long  \
season date       location  circuitName
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit -37.8497  144.9680
                            Albert Park Grand Prix Circuit -37.8497  144.9680
                            Albert Park Grand Prix Circuit -37.8497  144.9680
                            Albert Park Grand Prix Circuit -37.8497  144.9680
                            Albert Park Grand Prix Circuit -37.8497  144.9680
...                                                             ...       ...
2019   2019-11-03 Austin    Circuit of the Americas         30.1328  -97.6411
                            Circuit of the Americas         30.1328  -97.6411
                            Circuit of the Americas         30.1328  -97.6411
                            Circuit of the Americas         30.1328  -97.6411
                            Circuit of the Americas         30.1328  -97.6411

                                                              country  ...  \
season date       location  circuitName                                ...
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit  Australia  ...
                            Albert Park Grand Prix Circuit  Australia  ...
                            Albert Park Grand Prix Circuit  Australia  ...
                            Albert Park Grand Prix Circuit  Australia  ...
                            Albert Park Grand Prix Circuit  Australia  ...
...                                                               ...  ...
2019   2019-11-03 Austin    Circuit of the Americas               USA  ...
                            Circuit of the Americas               USA  ...
                            Circuit of the Americas               USA  ...
                            Circuit of the Americas               USA  ...
                            Circuit of the Americas               USA  ...

                                                            resultposition  \
season date       location  circuitName
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit              19
                            Albert Park Grand Prix Circuit              22
                            Albert Park Grand Prix Circuit               1
                            Albert Park Grand Prix Circuit               2
                            Albert Park Grand Prix Circuit               4
...                                                                    ...
2019   2019-11-03 Austin    Circuit of the Americas                      4
                            Circuit of the Americas                      7
                            Circuit of the Americas                      5
                            Circuit of the Americas                     17
                            Circuit of the Americas                     19

                                                            completedlaps  \
season date       location  circuitName
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit              2
                            Albert Park Grand Prix Circuit             57
                            Albert Park Grand Prix Circuit             57
                            Albert Park Grand Prix Circuit             57
                            Albert Park Grand Prix Circuit             57
...                                                                   ...
2019   2019-11-03 Austin    Circuit of the Americas                    56
                            Circuit of the Americas                    56
                            Circuit of the Americas                    56
                            Circuit of the Americas                    54
                            Circuit of the Americas                    31

                                                           speedtrap  \
season date       location  circuitName
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit     252.8
                            Albert Park Grand Prix Circuit     292.7
                            Albert Park Grand Prix Circuit     299.1
                            Albert Park Grand Prix Circuit     316.9
                            Albert Park Grand Prix Circuit     304.5
...                                                              ...
2019   2019-11-03 Austin    Circuit of the Americas            321.5
                            Circuit of the Americas            324.2
                            Circuit of the Americas            328.7
                            Circuit of the Americas            325.1
                            Circuit of the Americas            303.7

                                                           availablecompounds  \
season date       location  circuitName
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit          A2,A3,I,W
                            Albert Park Grand Prix Circuit          A2,A3,I,W
                            Albert Park Grand Prix Circuit          A2,A3,I,W
                            Albert Park Grand Prix Circuit          A2,A3,I,W
                            Albert Park Grand Prix Circuit          A2,A3,I,W
...                                                                       ...
2019   2019-11-03 Austin    Circuit of the Americas              A3,A4,A6,I,W
                            Circuit of the Americas              A3,A4,A6,I,W
                            Circuit of the Americas              A3,A4,A6,I,W
                            Circuit of the Americas              A3,A4,A6,I,W
                            Circuit of the Americas              A3,A4,A6,I,W

                                                            comment nolaps  \
season date       location  circuitName
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit      NaN     57
                            Albert Park Grand Prix Circuit      NaN     57
                            Albert Park Grand Prix Circuit      NaN     57
                            Albert Park Grand Prix Circuit      NaN     57
                            Albert Park Grand Prix Circuit      NaN     57
...                                                             ...    ...
2019   2019-11-03 Austin    Circuit of the Americas             NaN     56
                            Circuit of the Americas             NaN     56
                            Circuit of the Americas             NaN     56
                            Circuit of the Americas             NaN     56
                            Circuit of the Americas             NaN     56

                                                           nolapsplanned  \
season date       location  circuitName
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit            58
                            Albert Park Grand Prix Circuit            58
                            Albert Park Grand Prix Circuit            58
                            Albert Park Grand Prix Circuit            58
                            Albert Park Grand Prix Circuit            58
...                                                                  ...
2019   2019-11-03 Austin    Circuit of the Americas                   56
                            Circuit of the Americas                   56
                            Circuit of the Americas                   56
                            Circuit of the Americas                   56
                            Circuit of the Americas                   56

                                                           tracklength  \
season date       location  circuitName
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit        5303
                            Albert Park Grand Prix Circuit        5303
                            Albert Park Grand Prix Circuit        5303
                            Albert Park Grand Prix Circuit        5303
                            Albert Park Grand Prix Circuit        5303
...                                                                ...
2019   2019-11-03 Austin    Circuit of the Americas               5513
                            Circuit of the Americas               5513
                            Circuit of the Americas               5513
                            Circuit of the Americas               5513
                            Circuit of the Americas               5513

                                                            accidents per driver, per season  \
season date       location  circuitName
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit                               0.0
                            Albert Park Grand Prix Circuit                               0.0
                            Albert Park Grand Prix Circuit                               0.0
                            Albert Park Grand Prix Circuit                               0.0
                            Albert Park Grand Prix Circuit                               0.0
...                                                                                      ...
2019   2019-11-03 Austin    Circuit of the Americas                                      1.0
                            Circuit of the Americas                                      1.0
                            Circuit of the Americas                                      0.0
                            Circuit of the Americas                                      2.0
                            Circuit of the Americas                                      0.0

                                                           failures per driver, per season
season date       location  circuitName
2014   2014-03-16 Melbourne Albert Park Grand Prix Circuit                             3.0
                            Albert Park Grand Prix Circuit                             2.0
                            Albert Park Grand Prix Circuit                             2.0
                            Albert Park Grand Prix Circuit                             1.0
                            Albert Park Grand Prix Circuit                             2.0
...                                                                                    ...
2019   2019-11-03 Austin    Circuit of the Americas                                    1.0
                            Circuit of the Americas                                    3.0
                            Circuit of the Americas                                    1.0
                            Circuit of the Americas                                    0.0
                            Circuit of the Americas                                    2.0

[1517 rows x 30 columns]

In [175]:
# save meta data frame to files
meta_data_refined.to_csv('data/meta_data_refined.csv')

In [176]:
## creating refined weather data sets filtered on year for each track location

weather_df_unique_weather_refined2 = weather_df_unique_weather_refined2.set_index(['season','date'])

#2014
weather_df_2014 = weather_df_unique_weather_refined2[weather_df_unique_weather_refined2.index.get_level_values('season') == 2014]
weather_df_2014.sort_index()
weather_df_2014.to_csv('data/weathermap/weather_df_2014.csv')

#2015
weather_df_2015 = weather_df_unique_weather_refined2[weather_df_unique_weather_refined2.index.get_level_values('season') == 2015]
weather_df_2015.sort_index()
weather_df_2015.to_csv('data/weathermap/weather_df_2015.csv')

#2016
weather_df_2016 = weather_df_unique_weather_refined2[weather_df_unique_weather_refined2.index.get_level_values('season') == 2016]
weather_df_2016.sort_index()
weather_df_2016.to_csv('data/weathermap/weather_df_2016.csv')

#2017
weather_df_2017 = weather_df_unique_weather_refined2[weather_df_unique_weather_refined2.index.get_level_values('season') == 2017]
weather_df_2017.sort_index()
weather_df_2017.to_csv('data/weathermap/weather_df_2017.csv')

#2018
weather_df_2018 = weather_df_unique_weather_refined2[weather_df_unique_weather_refined2.index.get_level_values('season') == 2018]
weather_df_2018.sort_index()
weather_df_2018.to_csv('data/weathermap/weather_df_2018.csv')

#2019
weather_df_2019 = weather_df_unique_weather_refined2[weather_df_unique_weather_refined2.index.get_level_values('season') == 2019]
weather_df_2019.sort_index()
weather_df_2019.to_csv('data/weathermap/weather_df_2019.csv')

In [177]:
## creating refined incident map data sets filtered on year for each track location
    # first refine incident data frame from meta data
incident_report_df =  meta_data[['season', 'date', 'race_id','location','circuitName','weather','lat','long','name','status', 'accidents per driver, per season','failures per driver, per season']]
incident_report_df.sort_index()
incident_report_df.to_csv('data/incidentmap/incident_report_df_INCLUSIVE.csv')
# refine the incident data per location per year
incident_report_df_refined = incident_report_df[['season', 'date', 'race_id','location','circuitName','weather','lat','long','name','status']]
incident_report_df_refined = incident_report_df_refined.set_index(['season', 'date','location'])
incident_report_df_refined.sort_index()
incident_report_df_refined.to_csv('data/incidentmap/incident_report_df_REFINED.csv')


#2014
incident_df_2014 = incident_report_df_refined[incident_report_df_refined.index.get_level_values('season') == 2014]
incident_df_2014.sort_index()
incident_df_2014.to_csv('data/incidentmap/incident_df_2014.csv')

#2015
weather_df_2015 = incident_report_df_refined[incident_report_df_refined.index.get_level_values('season') == 2015]
weather_df_2015.sort_index()
weather_df_2015.to_csv('data/incidentmap/incident_df_2015.csv')

#2016
weather_df_2016 = incident_report_df_refined[incident_report_df_refined.index.get_level_values('season') == 2016]
weather_df_2016.sort_index()
weather_df_2016.to_csv('data/incidentmap/incident_df_2016.csv')

#2017
weather_df_2017 = incident_report_df_refined[incident_report_df_refined.index.get_level_values('season') == 2017]
weather_df_2017.sort_index()
weather_df_2017.to_csv('data/incidentmap/incident_df_2017.csv')

#2018
weather_df_2018 = incident_report_df_refined[incident_report_df_refined.index.get_level_values('season') == 2018]
weather_df_2018.sort_index()
weather_df_2018.to_csv('data/incidentmap/incident_df_2018.csv')

#2019
weather_df_2019 = incident_report_df_refined[incident_report_df_refined.index.get_level_values('season') == 2019]
weather_df_2019.sort_index()
weather_df_2019.to_csv('data/incidentmap/incident_df_2019.csv')

In [178]:
## creating refined driver race result data sets filtered on year for each driver
    # first refine data frame from meta data
driver_report_df =  meta_data[['season', 'date', 'race_id','location','circuitName','weather','name','team','enginemanufacturer','status', 'accidents per driver, per season','failures per driver, per season']]
driver_report_df.sort_index()
driver_report_df.to_csv('data/driverdata/driver_report_df_INCLUSIVE.csv')
# refine the driver data per driver per year
driver_report_df_refined = driver_report_df[['season', 'name','team','enginemanufacturer','accidents per driver, per season','failures per driver, per season']]
driver_report_df_refined = driver_report_df_refined.set_index(['season', 'name'])
driver_report_df_refined.sort_index()
driver_report_df_refined.to_csv('data/driverdata/driver_report_df_REFINED.csv')


#2014
driver_report_df_2014 = driver_report_df_refined[driver_report_df_refined.index.get_level_values('season') == 2014]
driver_report_df_2014.sort_index()
driver_report_df_2014.to_csv('data/driverdata/driver_report_df_2014.csv')

#2015
driver_report_df_2015 = driver_report_df_refined[driver_report_df_refined.index.get_level_values('season') == 2014]
driver_report_df_2015.sort_index()
driver_report_df_2015.to_csv('data/driverdata/driver_report_df_2015.csv')

#2016
driver_report_df_2016 = driver_report_df_refined[driver_report_df_refined.index.get_level_values('season') == 2014]
driver_report_df_2016.sort_index()
driver_report_df_2016.to_csv('data/driverdata/driver_report_df_2016.csv')

#2017
driver_report_df_2017 = driver_report_df_refined[driver_report_df_refined.index.get_level_values('season') == 2014]
driver_report_df_2017.sort_index()
driver_report_df_2017.to_csv('data/driverdata/driver_report_df_2017.csv')

#2018
driver_report_df_2018 = driver_report_df_refined[driver_report_df_refined.index.get_level_values('season') == 2014]
driver_report_df_2018.sort_index()
driver_report_df_2018.to_csv('data/driverdata/driver_report_df_2018.csv')

#2019
driver_report_df_2019 = driver_report_df_refined[driver_report_df_refined.index.get_level_values('season') == 2014]
driver_report_df_2019.sort_index()
driver_report_df_2019.to_csv('data/driverdata/driver_report_df_2019.csv')  






## creating driver report data personal to driver filtered on year (season)
driver_report_df_refined_perdriver = meta_data[['name','season','team','enginemanufacturer','accidents per driver, per season','failures per driver, per season']]
driver_report_df_refined_perdriver = driver_report_df_refined_perdriver.set_index(['name'])
    #drop season duplicates so results are per season
driver_report_df_refined_perdriver = driver_report_df_refined_perdriver.drop_duplicates(subset=['season'])
driver_report_df_refined_perdriver.sort_index()
driver_report_df_refined_perdriver.to_csv('data/driverdata/driver_report_df_REFINED_perdriver.csv')

##LewisHam
driver_report_df_Hamilton = driver_report_df_refined_perdriver[driver_report_df_refined_perdriver.index.get_level_values('name') == 'Lewis Hamilton']
driver_report_df_Hamilton.sort_index()
driver_report_df_Hamilton.to_csv('data/driverdata/driver_report_df_Hamilton.csv')

##DaniRic
driver_report_df_Ricciardo = driver_report_df_refined_perdriver[driver_report_df_refined_perdriver.index.get_level_values('name') == 'Daniel Ricciardo']
driver_report_df_Ricciardo.sort_index()
driver_report_df_Ricciardo.to_csv('data/driverdata/driver_report_df_Ricciardo.csv')

##FernAlon
driver_report_df_Alonso = driver_report_df_refined_perdriver[driver_report_df_refined_perdriver.index.get_level_values('name') == 'Fernando Alonso']
driver_report_df_Alonso.sort_index()
driver_report_df_Alonso.to_csv('data/driverdata/driver_report_df_Alonso.csv')

##Leclerc
driver_report_df_Leclerc = driver_report_df_refined_perdriver[driver_report_df_refined_perdriver.index.get_level_values('name') == 'Charles Leclerc']
driver_report_df_Leclerc.sort_index()
driver_report_df_Leclerc.to_csv('data/driverdata/driver_report_df_Leclerc.csv')

##GRussell
driver_report_df_Russell = driver_report_df_refined_perdriver[driver_report_df_refined_perdriver.index.get_level_values('name') == 'George Russell']
driver_report_df_Russell.sort_index()
driver_report_df_Russell.to_csv('data/driverdata/driver_report_df_Russell.csv')

In [179]:
# save meta data frame to files
meta_data = meta_data.set_index(['season','date','location','circuitName'])
meta_data.to_csv('meta_data_inclusive.csv')