In [ ]:
## PRELIM STEP: refine, organize, and merge data

In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
# Store filepaths into variable
drivers_csv = Path("data/drivers.csv")
fcyphases_csv = Path("data/fcyphases.csv")

In [9]:
# Read in files and make dfs
drivers_df = pd.read_csv(drivers_csv)
fcyphases_df = pd.read_csv(fcyphases_csv)

In [6]:
#display dfs
drivers_df.head()

   id  carno initials              name
0   1     44      HAM    Lewis Hamilton
1   2      3      RIC  Daniel Ricciardo
2   3      6      ROS      Nico Rosberg
3   4     20      MAG   Kevin Magnussen
4   5     14      ALO   Fernando Alonso

In [11]:
# make column name variables constant throughout all dfs
drivers_df.rename(columns = {'id':'driver_id'}, inplace = True)
drivers_df.head()

   driver_id  carno initials              name
0          1     44      HAM    Lewis Hamilton
1          2      3      RIC  Daniel Ricciardo
2          3      6      ROS      Nico Rosberg
3          4     20      MAG   Kevin Magnussen
4          5     14      ALO   Fernando Alonso