In [1]:
## PRELIM STEP: refine, organize, and merge data

In [2]:
# Import Dependencies
import pandas as pd
import numpy as np
from pathlib import Path

In [3]:
# Store filepaths into variable
drivers_csv = Path("data/drivers.csv")
fcyphases_csv = Path("data/fcyphases.csv")
laps_csv = Path("data/laps.csv")
qualifyings_csv = Path("data/qualifyings.csv")
races_csv = Path("data/races.csv")
retirements_csv = Path("data/retirements.csv")
starterfields_csv = Path("data/starterfields.csv")

In [4]:
# Read in files and make dfs
drivers_df = pd.read_csv(drivers_csv)
fcyphases_df = pd.read_csv(fcyphases_csv)
laps_df = pd.read_csv(laps_csv)
qualifyings_df = pd.read_csv(qualifyings_csv)
races_df = pd.read_csv(races_csv)
retirements_df = pd.read_csv(retirements_csv)
starterfields_df = pd.read_csv(starterfields_csv)

In [5]:
#display dfs

In [6]:
display(drivers_df)
display(fcyphases_df)
display(laps_df)
display(qualifyings_df)
display(races_df)
display(retirements_df)
display(starterfields_df)

    id  carno initials                name
0    1     44      HAM      Lewis Hamilton
1    2      3      RIC    Daniel Ricciardo
2    3      6      ROS        Nico Rosberg
3    4     20      MAG     Kevin Magnussen
4    5     14      ALO     Fernando Alonso
5    6     25      VER    Jean-Eric Vergne
6    7     27      HUL     Nico Hulkenberg
7    8     26      KVY        Daniil Kvyat
8    9     19      MAS        Felipe Massa
9   10     22      BUT       Jenson Button
10  11      7      RAI      Kimi Raikkonen
11  12      5      VET    Sebastian Vettel
12  13     99      SUT        Adrian Sutil
13  14     10      KOB     Kamui Kobayashi
14  15     77      BOT     Valtteri Bottas
15  16     11      PER        Sergio Perez
16  17      4      CHI         Max Chilton
17  18     17      BIA       Jules Bianchi
18  19      9      ERI     Marcus Ericsson
19  20     21      GUT   Esteban Gutierrez
20  21     13      MAL    Pastor Maldonado
21  22      8      GRO     Romain Grosjean
22  23     45      LOT      Andre Lotterer
23  24     28      STE        Will Stevens
24  25     55      SAI    Carlos Sainz Jnr
25  26     12      NAS         Felipe Nasr
26  27     33      VER      Max Verstappen
27  28     98      MER       Roberto Merhi
28  29     53      RSS     Alexander Rossi
29  30     30      PAL       Jolyon Palmer
30  31     94      WEH     Pascal Wehrlein
31  32     88      HAR        Rio Haryanto
32  33      2      VAN   Stoffel Vandoorne
33  34     31      OCO        Esteban Ocon
34  35     99      GIO  Antonio Giovinazzi
35  36     18      STR        Lance Stroll
36  37     40      DIR       Paul di Resta
37  38     10      GAS        Pierre Gasly
38  39     28      HAR     Brendon Hartley
39  40     16      LEC     Charles Leclerc
40  41     35      SIR     Sergey Sirotkin
41  42      4      NOR        Lando Norris
42  43     23      ALB     Alexander Albon
43  44     63      RUS      George Russell
44  45     88      KUB       Robert Kubica

,id,race_id,startracetime,endracetime,startraceprog,endraceprog,startlap,endlap,type
0,1,1,1069,1604.0,11.107,14.922,12,15,SC
1,2,3,4157,4899.0,41.010,45.965,42,46,SC
2,3,6,59,332.0,0.583,2.897,1,3,SC
3,4,6,2157,2710.0,25.289,29.916,26,30,SC
4,5,7,38,829.0,0.372,6.864,1,7,SC
...,...,...,...,...,...,...,...,...,...
131,132,116,2874,3013.0,27.384,28.457,28,29,VSC
132,133,116,3062,3572.0,28.807,31.934,29,32,SC
133,134,118,74,218.0,0.823,2.213,1,3,VSC
134,135,120,3946,4558.0,53.418,58.883,54,59,SC
135,136,120,5061,5416.0,65.720,68.740,66,69,SC

,race_id,lapno,position,driver_id,laptime,racetime,gap,interval,compound,tireage,pitintime,pitstopduration,nextcompound,startlapprog_vsc,endlapprog_vsc,age_vsc,startlapprog_sc,endlapprog_sc,age_sc
0,1,0,1,1,NaN,0.000,NaN,NaN,A3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,2,2,NaN,0.000,NaN,NaN,A3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,0,3,3,NaN,0.000,NaN,NaN,A3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,0,4,4,NaN,0.000,NaN,NaN,A3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,0,5,5,NaN,0.000,NaN,NaN,A3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134001,121,55,2,27,101.119,5662.487,16.772,16.772,A4,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134002,121,55,3,40,102.829,5689.150,43.435,26.663,A7,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134003,121,55,4,15,102.180,5690.094,44.379,0.944,A4,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134004,121,55,5,12,100.128,5710.072,64.357,19.978,A6,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134005,121,55,6,43,103.358,5714.920,69.205,4.848,A4,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

      race_id  position  driver_id  q1laptime  q2laptime  q3laptime  speedtrap
0           1         1          1     91.699    102.890    104.231      310.7
1           1         2          2     90.775    102.295    104.548      303.2
2           1         3          3     92.564    102.264    104.595      313.8
3           1         4          4     90.949    103.247    105.745      314.8
4           1         5          5     91.388    102.805    105.819      310.9
...       ...       ...        ...        ...        ...        ...        ...
2467      121        16         22     98.051        NaN        NaN      325.2
2468      121        17         35     98.114        NaN        NaN      323.0
2469      121        18         11     98.383        NaN        NaN      320.4
2470      121        19         44     98.717        NaN        NaN      326.5
2471      121        20         45     99.236        NaN        NaN      325.0

[2472 rows x 7 columns]

,id,date,season,location,availablecompounds,comment,nolaps,nolapsplanned,tracklength
0,1,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
1,2,2014-03-30,2014,KualaLumpur,"A1,A2,I,W",NaN,56,56,5543
2,3,2014-04-06,2014,Sakhir,"A2,A3,I,W","Crash GUT in lap 41, SC somewhen in the end of...",57,57,5412
3,4,2014-04-20,2014,Shanghai,"A2,A3,I,W",NaN,54,56,5451
4,5,2014-05-11,2014,Catalunya,"A1,A2,I,W",NaN,66,66,4655
...,...,...,...,...,...,...,...,...,...
116,117,2019-10-13,2019,Suzuka,"A2,A3,A4,I,W",NaN,52,53,5807
117,118,2019-10-27,2019,MexicoCity,"A3,A4,A6,I,W",NaN,71,71,4304
118,119,2019-11-03,2019,Austin,"A3,A4,A6,I,W",NaN,56,56,5513
119,120,2019-11-17,2019,SaoPaulo,"A2,A3,A4,I,W",NaN,71,71,4309
120,121,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554

     season  driver_id  accidents  failures
0      2014         43        NaN       NaN
1      2015         43        NaN       NaN
2      2016         43        NaN       NaN
3      2017         43        NaN       NaN
4      2018         43        NaN       NaN
..      ...        ...        ...       ...
265    2015         31        NaN       NaN
266    2016         31        3.0       2.0
267    2017         31        2.0       1.0
268    2018         31        NaN       NaN
269    2019         31        NaN       NaN

[270 rows x 4 columns]

,race_id,driver_id,team,teamcolor,enginemanufacturer,gridposition,status,resultposition,completedlaps,speedtrap
0,1,1,Mercedes,#00D2BE,Mercedes,1,DNF,19,2,252.8
1,1,2,RedBull,#1E41FF,Renault,2,DQ,22,57,292.7
2,1,3,Mercedes,#00D2BE,Mercedes,3,F,1,57,299.1
3,1,4,McLaren,#FF8700,Mercedes,4,F,2,57,316.9
4,1,5,Ferrari,#DC0000,Ferrari,5,F,4,57,304.5
...,...,...,...,...,...,...,...,...,...,...
2474,121,35,AlfaRomeo,#9B0000,Ferrari,16,F,16,54,334.9
2475,121,11,AlfaRomeo,#9B0000,Ferrari,17,F,13,54,329.6
2476,121,44,Williams,#192c4e,Mercedes,18,F,17,54,329.3
2477,121,45,Williams,#192c4e,Mercedes,19,F,19,53,317.8
2478,121,15,Mercedes,#00D2BE,Mercedes,20,F,4,55,321.5

In [7]:
# make column name variables constant throughout all dfs
drivers_df.rename(columns = {'id':'driver_id'}, inplace = True)
# drivers_df.to_csv('drivers.csv') only do this if create a seperate data file
races_df.rename(columns = {'id':'race_id'}, inplace = True)

In [15]:
# make adjustments to column names to better represent data 

# for "retirements" df... NOTE: accidents and failures is per driver per season (not per race)
retirements_df.rename(columns = {'accidents':'accidents per driver, per season'}, inplace = True)
retirements_df.rename(columns = {'failures':'failures per driver, per season'}, inplace = True)

In [16]:
#start merging
merge1 = pd.merge(drivers_df, starterfields_df)

In [20]:
merge2 = pd.merge(merge1, races_df)

,driver_id,carno,initials,name,race_id,team,teamcolor,enginemanufacturer,gridposition,status,...,completedlaps,speedtrap,date,season,location,availablecompounds,comment,nolaps,nolapsplanned,tracklength
0,1,44,HAM,Lewis Hamilton,1,Mercedes,#00D2BE,Mercedes,1,DNF,...,2,252.8,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
1,2,3,RIC,Daniel Ricciardo,1,RedBull,#1E41FF,Renault,2,DQ,...,57,292.7,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
2,3,6,ROS,Nico Rosberg,1,Mercedes,#00D2BE,Mercedes,3,F,...,57,299.1,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
3,4,20,MAG,Kevin Magnussen,1,McLaren,#FF8700,Mercedes,4,F,...,57,316.9,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
4,5,14,ALO,Fernando Alonso,1,Ferrari,#DC0000,Ferrari,5,F,...,57,304.5,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2474,40,16,LEC,Charles Leclerc,121,Ferrari,#DC0000,Ferrari,3,F,...,55,313.4,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554
2475,42,4,NOR,Lando Norris,121,McLaren,#FF8700,Renault,6,F,...,54,330.4,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554
2476,43,23,ALB,Alexander Albon,121,RedBull,#1E41FF,Honda,5,F,...,55,330.7,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554
2477,44,63,RUS,George Russell,121,Williams,#192c4e,Mercedes,18,F,...,54,329.3,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554
2478,45,88,KUB,Robert Kubica,121,Williams,#192c4e,Mercedes,19,F,...,53,317.8,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554

In [18]:
# merge2_refined=merge2[['date','location','driver_id','name','team','enginemanufacturer','resultposition','gridposition','status','completedlaps','comment','nolaps','tracklength']]
# merge2_refined

In [21]:
meta_df = pd.merge(merge2, retirements_df)
meta_df

,driver_id,carno,initials,name,race_id,team,teamcolor,enginemanufacturer,gridposition,status,...,date,season,location,availablecompounds,comment,nolaps,nolapsplanned,tracklength,"accidents per driver, per season","failures per driver, per season"
0,1,44,HAM,Lewis Hamilton,1,Mercedes,#00D2BE,Mercedes,1,DNF,...,2014-03-16,2014,Melbourne,"A2,A3,I,W",NaN,57,58,5303,0.0,3.0
1,1,44,HAM,Lewis Hamilton,2,Mercedes,#00D2BE,Mercedes,1,F,...,2014-03-30,2014,KualaLumpur,"A1,A2,I,W",NaN,56,56,5543,0.0,3.0
2,1,44,HAM,Lewis Hamilton,3,Mercedes,#00D2BE,Mercedes,2,F,...,2014-04-06,2014,Sakhir,"A2,A3,I,W","Crash GUT in lap 41, SC somewhen in the end of...",57,57,5412,0.0,3.0
3,1,44,HAM,Lewis Hamilton,4,Mercedes,#00D2BE,Mercedes,1,F,...,2014-04-20,2014,Shanghai,"A2,A3,I,W",NaN,54,56,5451,0.0,3.0
4,1,44,HAM,Lewis Hamilton,5,Mercedes,#00D2BE,Mercedes,1,F,...,2014-05-11,2014,Catalunya,"A1,A2,I,W",NaN,66,66,4655,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2474,45,88,KUB,Robert Kubica,117,Williams,#192c4e,Mercedes,20,F,...,2019-10-13,2019,Suzuka,"A2,A3,A4,I,W",NaN,52,53,5807,0.0,2.0
2475,45,88,KUB,Robert Kubica,118,Williams,#192c4e,Mercedes,20,F,...,2019-10-27,2019,MexicoCity,"A3,A4,A6,I,W",NaN,71,71,4304,0.0,2.0
2476,45,88,KUB,Robert Kubica,119,Williams,#192c4e,Mercedes,19,DNF,...,2019-11-03,2019,Austin,"A3,A4,A6,I,W",NaN,56,56,5513,0.0,2.0
2477,45,88,KUB,Robert Kubica,120,Williams,#192c4e,Mercedes,19,F,...,2019-11-17,2019,SaoPaulo,"A2,A3,A4,I,W",NaN,71,71,4309,0.0,2.0
2478,45,88,KUB,Robert Kubica,121,Williams,#192c4e,Mercedes,19,F,...,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",NaN,55,55,5554,0.0,2.0

In [22]:
meta_df_refined = meta_df[['season', 'date', 'race_id','location','driver_id','name','team','enginemanufacturer','resultposition','gridposition','status','completedlaps','comment','nolaps','tracklength']]
meta_df_refined = meta_df_refined.set_index(['season'])
meta_df_refined

,date,race_id,location,driver_id,name,team,enginemanufacturer,resultposition,gridposition,status,completedlaps,comment,nolaps,tracklength
season,,,,,,,,,,,,,,
2014,2014-03-16,1,Melbourne,1,Lewis Hamilton,Mercedes,Mercedes,19,1,DNF,2,NaN,57,5303
2014,2014-03-30,2,KualaLumpur,1,Lewis Hamilton,Mercedes,Mercedes,1,1,F,56,NaN,56,5543
2014,2014-04-06,3,Sakhir,1,Lewis Hamilton,Mercedes,Mercedes,1,2,F,57,"Crash GUT in lap 41, SC somewhen in the end of...",57,5412
2014,2014-04-20,4,Shanghai,1,Lewis Hamilton,Mercedes,Mercedes,1,1,F,54,NaN,54,5451
2014,2014-05-11,5,Catalunya,1,Lewis Hamilton,Mercedes,Mercedes,1,1,F,66,NaN,66,4655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,2019-10-13,117,Suzuka,45,Robert Kubica,Williams,Mercedes,19,20,F,50,NaN,52,5807
2019,2019-10-27,118,MexicoCity,45,Robert Kubica,Williams,Mercedes,18,20,F,69,NaN,71,4304
2019,2019-11-03,119,Austin,45,Robert Kubica,Williams,Mercedes,19,19,DNF,31,NaN,56,5513
2019,2019-11-17,120,SaoPaulo,45,Robert Kubica,Williams,Mercedes,16,19,F,70,NaN,71,4309
2019,2019-12-01,121,YasMarina,45,Robert Kubica,Williams,Mercedes,19,19,F,53,NaN,55,5554

In [23]:
# save meta data frame to file
meta_df.to_csv('meta_data.csv')
meta_df_refined.to_csv('meta_data_refined.csv')


newdf=newdf.reindex(columns=['race_id','location','driver_id','name','team','enginemanufacturer','resultposition','gridposition','status','completedlaps','comment','nolaps','tracklength'])
newdf.head()